@charset "UTF-8";
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.ttf"), url("../fonts/HelveticaNeueBold.ttf");
}
/* line 15, ../sass/main.scss */
body {
  font-family: "Helvetica Neue";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/main.scss */
h1.wave:before {
  content: url("../img/wave-blue-long.png");
  top: -100px;
}

/* line 27, ../sass/main.scss */
h2.wave:before {
  content: url("../img/wave-blue-short.png");
  top: -46px;
}

/* line 32, ../sass/main.scss */
h1, h2 {
  color: #252b41;
}

/* line 36, ../sass/main.scss */
.wave {
  position: relative;
}
/* line 38, ../sass/main.scss */
.wave:before {
  position: absolute;
  text-align: center;
}

/* line 44, ../sass/main.scss */
a {
  text-decoration: none;
  color: #252b41;
}

/* line 49, ../sass/main.scss */
.content-container {
  background: url("../img/background.png");
  background-size: cover;
  padding-top: 100px;
}
/* line 53, ../sass/main.scss */
.content-container.page {
  padding-top: 175px;
  background: url("../img/background-page.png");
  background-size: cover;
}
/* line 58, ../sass/main.scss */
.content-container.page .container .text-block h1 {
  font-size: 50px;
  line-height: 61px;
}
/* line 61, ../sass/main.scss */
.content-container.page .container .text-block h1:before {
  top: -93px;
}
/* line 67, ../sass/main.scss */
.content-container .container {
  position: relative;
}
/* line 69, ../sass/main.scss */
.content-container .container .text-block {
  width: 63%;
  color: #636673;
  padding-bottom: 100px;
}
/* line 73, ../sass/main.scss */
.content-container .container .text-block.home {
  width: 60%;
  padding-bottom: 20px;
}
/* line 76, ../sass/main.scss */
.content-container .container .text-block.home .content a {
  margin-top: 50px;
  display: block;
}
/* line 81, ../sass/main.scss */
.content-container .container .text-block .block {
  padding: 83px 0 0;
  color: #7f93b3;
}
/* line 84, ../sass/main.scss */
.content-container .container .text-block .block h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}
/* line 88, ../sass/main.scss */
.content-container .container .text-block .block h2:before {
  top: -61px;
}
/* line 92, ../sass/main.scss */
.content-container .container .text-block .block p {
  margin: 20px 0;
}
/* line 93, ../sass/main.scss */
.content-container .container .text-block .block ul {
  padding-left: 35px;
}
/* line 95, ../sass/main.scss */
.content-container .container .text-block .block ul li {
  padding-bottom: 10px;
}
/* line 101, ../sass/main.scss */
.content-container .container .text-block .content h1 {
  font-size: 70px;
  font-weight: bold;
}
/* line 102, ../sass/main.scss */
.content-container .container .text-block .content h3 {
  padding: 17px 0 0;
  color: #7e93b2;
}
/* line 103, ../sass/main.scss */
.content-container .container .text-block .content p {
  font-size: 15px;
  margin: 35px 0 28px;
  line-height: 22px;
}
/* line 108, ../sass/main.scss */
.content-container .container .text-block .content a {
  color: #007fff;
  padding-left: 50px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold;
}
/* line 114, ../sass/main.scss */
.content-container .container .text-block .content a:hover {
  color: #252b41;
}
/* line 117, ../sass/main.scss */
.content-container .container .text-block .content a:before {
  content: '';
  position: absolute;
  width: 31px;
  height: 31px;
  display: inline-block;
  background: url("../img/arrow-right-blue.png");
  left: 0;
  bottom: -7px;
}
/* line 130, ../sass/main.scss */
.content-container .container .blue-circle {
  position: absolute;
  width: 184px;
  height: 184px;
  background: #007fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  right: 94px;
  top: 0;
  text-align: center;
  color: white;
}
/* line 140, ../sass/main.scss */
.content-container .container .blue-circle h2 {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: bold;
  margin-top: 77px;
  color: white;
}
/* line 146, ../sass/main.scss */
.content-container .container .blue-circle h2.wave:before {
  content: url("../img/wave-gray-short.png");
  margin-left: -20px;
  left: 50%;
}
/* line 152, ../sass/main.scss */
.content-container .container .blue-circle img {
  position: absolute;
  left: 0;
}
/* line 156, ../sass/main.scss */
.content-container .container .blue-circle p {
  font-size: 13px;
  color: #cdd7ea;
  line-height: 18px;
}
/* line 162, ../sass/main.scss */
.content-container .container .bar-menu {
  width: 32%;
  position: absolute;
  right: 0;
  top: 140px;
  display: inline-block;
}
/* line 168, ../sass/main.scss */
.content-container .container .bar-menu .block {
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
}
/* line 175, ../sass/main.scss */
.content-container .container .bar-menu .block .border {
  border: 2px solid #d6dce8;
  height: 100%;
  width: 100%;
  padding: 67px 30px 30px;
  display: table-cell;
  vertical-align: middle;
  background: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 184, ../sass/main.scss */
.content-container .container .bar-menu .block .border img.one {
  width: 100%;
  max-width: 287px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 189, ../sass/main.scss */
.content-container .container .bar-menu .block .border.padding-none {
  padding: 22px 10px;
  text-align: center;
}
/* line 193, ../sass/main.scss */
.content-container .container .bar-menu .block .border h2 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}
/* line 201, ../sass/main.scss */
.content-container .container .wrap {
  width: 100%;
  display: inline-block;
  position: relative;
  height: 290px;
  margin-bottom: 30px;
}
/* line 207, ../sass/main.scss */
.content-container .container .wrap .block {
  width: 31.7%;
  padding: 20px;
  height: 130px;
  background: white;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  display: table;
  right: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 217, ../sass/main.scss */
.content-container .container .wrap .block > a {
  display: block;
  height: 90px;
}
/* line 221, ../sass/main.scss */
.content-container .container .wrap .block:hover {
  cursor: pointer;
}
/* line 224, ../sass/main.scss */
.content-container .container .wrap .block.vertical, .content-container .container .wrap .block.block-1 {
  left: 0;
  height: 220px;
}
/* line 228, ../sass/main.scss */
.content-container .container .wrap .block.vertical > a, .content-container .container .wrap .block.block-1 > a {
  display: block;
  height: 180px;
}
/* line 232, ../sass/main.scss */
.content-container .container .wrap .block.vertical .border > div,
.content-container .container .wrap .block.vertical .background, .content-container .container .wrap .block.block-1 .border > div,
.content-container .container .wrap .block.block-1 .background {
  width: 50%;
  height: 100%;
}
/* line 236, ../sass/main.scss */
.content-container .container .wrap .block.vertical .border > div .wrapper-text,
.content-container .container .wrap .block.vertical .background .wrapper-text, .content-container .container .wrap .block.block-1 .border > div .wrapper-text,
.content-container .container .wrap .block.block-1 .background .wrapper-text {
  text-align: left;
  display: inline-block;
  margin: auto;
}
/* line 240, ../sass/main.scss */
.content-container .container .wrap .block.vertical .border > div .wrapper-text:before, .content-container .container .wrap .block.vertical .border > div .wrapper-text:after,
.content-container .container .wrap .block.vertical .background .wrapper-text:before,
.content-container .container .wrap .block.vertical .background .wrapper-text:after, .content-container .container .wrap .block.block-1 .border > div .wrapper-text:before, .content-container .container .wrap .block.block-1 .border > div .wrapper-text:after,
.content-container .container .wrap .block.block-1 .background .wrapper-text:before,
.content-container .container .wrap .block.block-1 .background .wrapper-text:after {
  content: url("../img/wave-gray-short.png");
  position: absolute;
}
/* line 245, ../sass/main.scss */
.content-container .container .wrap .block.vertical .border > div .wrapper-text:before,
.content-container .container .wrap .block.vertical .background .wrapper-text:before, .content-container .container .wrap .block.block-1 .border > div .wrapper-text:before,
.content-container .container .wrap .block.block-1 .background .wrapper-text:before {
  right: -3px;
  top: 22px;
}
/* line 249, ../sass/main.scss */
.content-container .container .wrap .block.vertical .border > div .wrapper-text:after,
.content-container .container .wrap .block.vertical .background .wrapper-text:after, .content-container .container .wrap .block.block-1 .border > div .wrapper-text:after,
.content-container .container .wrap .block.block-1 .background .wrapper-text:after {
  bottom: 22px;
  left: -3px;
}
/* line 255, ../sass/main.scss */
.content-container .container .wrap .block.vertical .background, .content-container .container .wrap .block.block-1 .background {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
/* line 260, ../sass/main.scss */
.content-container .container .wrap .block.vertical .background img, .content-container .container .wrap .block.block-1 .background img {
  width: 100%;
  height: 100%;
}
/* line 266, ../sass/main.scss */
.content-container .container .wrap .block.horizontal, .content-container .container .wrap .block.block-2 {
  height: 370px;
  left: 34%;
  bottom: -80px;
}
/* line 271, ../sass/main.scss */
.content-container .container .wrap .block.horizontal > a, .content-container .container .wrap .block.block-2 > a {
  display: block;
  height: 330px;
}
/* line 275, ../sass/main.scss */
.content-container .container .wrap .block.horizontal .border div, .content-container .container .wrap .block.block-2 .border div {
  width: 100%;
  height: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 280, ../sass/main.scss */
.content-container .container .wrap .block.horizontal .border div img, .content-container .container .wrap .block.block-2 .border div img {
  margin-top: 65px;
}
/* line 283, ../sass/main.scss */
.content-container .container .wrap .block.horizontal .border div h2, .content-container .container .wrap .block.block-2 .border div h2 {
  margin-top: 80px;
}
/* line 287, ../sass/main.scss */
.content-container .container .wrap .block.horizontal .background, .content-container .container .wrap .block.block-2 .background {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
/* line 294, ../sass/main.scss */
.content-container .container .wrap .block.horizontal .background img, .content-container .container .wrap .block.block-2 .background img {
  width: 100%;
  height: 100%;
}
/* line 300, ../sass/main.scss */
.content-container .container .wrap .block .border {
  border: 3px solid #d6dce8;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  background: transparent;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 310, ../sass/main.scss */
.content-container .container .wrap .block .border > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 314, ../sass/main.scss */
.content-container .container .wrap .block .border > div img.one {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 320, ../sass/main.scss */
.content-container .container .wrap .block .border > div h2 {
  font-size: 31px;
  font-weight: bold;
  line-height: 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 325, ../sass/main.scss */
.content-container .container .wrap .block .border > div h2.wave:before {
  content: url("../img/wave-blue-long.png");
  top: 34px;
  left: 50%;
  margin-left: -34px;
}
/* line 335, ../sass/main.scss */
.content-container .container .wrap .block:hover .border {
  border-color: #007fff;
}
/* line 338, ../sass/main.scss */
.content-container .container .wrap .block:hover .border div h2 {
  color: #007fff;
}

/* line 347, ../sass/main.scss */
.header-container.home {
  -webkit-box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
}

/* line 354, ../sass/main.scss */
.header-container {
  width: 100%;
  z-index: 110;
  position: relative;
  background: white;
}
/* line 359, ../sass/main.scss */
.header-container .container {
  height: 120px;
  width: 100%;
  display: table;
  margin: auto !important;
}
/* line 364, ../sass/main.scss */
.header-container .container div,
.header-container .container .mobile-bar {
  display: table-cell;
  vertical-align: middle;
}
/* line 368, ../sass/main.scss */
.header-container .container div.logo,
.header-container .container .mobile-bar.logo {
  text-align: left;
}
/* line 370, ../sass/main.scss */
.header-container .container div.logo img,
.header-container .container .mobile-bar.logo img {
  max-height: 80px;
}
/* line 374, ../sass/main.scss */
.header-container .container div.social,
.header-container .container .mobile-bar.social {
  text-align: right;
}
/* line 376, ../sass/main.scss */
.header-container .container div.social a,
.header-container .container .mobile-bar.social a {
  float: left;
  color: #007fff;
  padding: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 381, ../sass/main.scss */
.header-container .container div.social a:hover,
.header-container .container .mobile-bar.social a:hover {
  color: #252b41;
}
/* line 384, ../sass/main.scss */
.header-container .container div.social a:first-child,
.header-container .container .mobile-bar.social a:first-child {
  margin-right: 5px;
}
/* line 389, ../sass/main.scss */
.header-container .container div.menu,
.header-container .container .mobile-bar.menu {
  text-align: center;
}
/* line 391, ../sass/main.scss */
.header-container .container div.menu ul,
.header-container .container .mobile-bar.menu ul {
  display: inline-block;
  padding: 0 30px 0 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 395, ../sass/main.scss */
.header-container .container div.menu ul.active,
.header-container .container .mobile-bar.menu ul.active {
  padding: 24px 15px 0;
}
/* line 399, ../sass/main.scss */
.header-container .container div.menu ul li,
.header-container .container .mobile-bar.menu ul li {
  float: left;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  width: 25%;
}
/* line 405, ../sass/main.scss */
.header-container .container div.menu ul li.active + li > a,
.header-container .container .mobile-bar.menu ul li.active + li > a {
  border-left: none;
}
/* line 408, ../sass/main.scss */
.header-container .container div.menu ul li.active a,
.header-container .container .mobile-bar.menu ul li.active a {
  color: #007fff;
  margin: 0;
  padding: 42px 0 20px;
  border: none;
}
/* line 413, ../sass/main.scss */
.header-container .container div.menu ul li.active a:before,
.header-container .container .mobile-bar.menu ul li.active a:before {
  content: url("../img/menu-icon.png");
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -30px;
}
/* line 420, ../sass/main.scss */
.header-container .container div.menu ul li.active a:after,
.header-container .container .mobile-bar.menu ul li.active a:after {
  content: '';
  width: 100%;
  height: 120px;
  position: absolute;
  left: 0;
  top: -24px;
  border-left: 1px solid #e9ecf1;
  border-right: 1px solid #e9ecf1;
}
/* line 431, ../sass/main.scss */
.header-container .container div.menu ul li a,
.header-container .container .mobile-bar.menu ul li a {
  margin: 20px 0;
  position: relative;
  color: #252b41;
  width: 100%;
  display: inline-block;
  border-right: 1px solid #e9ecf1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 439, ../sass/main.scss */
.header-container .container div.menu ul li a span,
.header-container .container .mobile-bar.menu ul li a span {
  font-weight: lighter;
  font-size: 13px;
}
/* line 443, ../sass/main.scss */
.header-container .container div.menu ul li a:hover,
.header-container .container .mobile-bar.menu ul li a:hover {
  color: #007fff;
}
/* line 447, ../sass/main.scss */
.header-container .container div.menu ul li a.active,
.header-container .container .mobile-bar.menu ul li a.active {
  color: #007fff;
  margin: 0;
  padding: 42px 0 20px;
  border: none;
}
/* line 452, ../sass/main.scss */
.header-container .container div.menu ul li a.active:before,
.header-container .container .mobile-bar.menu ul li a.active:before {
  content: url("../img/menu-icon.png");
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -30px;
}
/* line 459, ../sass/main.scss */
.header-container .container div.menu ul li a.active:after,
.header-container .container .mobile-bar.menu ul li a.active:after {
  content: '';
  width: 100%;
  height: 120px;
  position: absolute;
  left: 0;
  top: -24px;
  border-left: 1px solid #e9ecf1;
  border-right: 1px solid #e9ecf1;
}
/* line 475, ../sass/main.scss */
.header-container .container .mobile-bar {
  display: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #007fff;
}
/* line 479, ../sass/main.scss */
.header-container .container .mobile-bar:hover {
  color: #252b41;
}

/* line 486, ../sass/main.scss */
div.container {
  max-width: 1170px;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 492, ../sass/main.scss */
.footer {
  height: 380px;
  padding: 130px 0 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 497, ../sass/main.scss */
.footer .container .column {
  width: 22%;
  float: left;
}
/* line 500, ../sass/main.scss */
.footer .container .column:first-child {
  width: 33%;
}
/* line 502, ../sass/main.scss */
.footer .container .column:first-child .col {
  width: 50%;
  float: left;
}
/* line 506, ../sass/main.scss */
.footer .container .column:first-child h2 {
  position: relative;
}
/* line 509, ../sass/main.scss */
.footer .container .column:first-child h2:before {
  position: absolute;
  text-align: center;
  content: url("../img/wave-blue-short.png");
  top: -46px;
}
/* line 516, ../sass/main.scss */
.footer .container .column h2 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 35px;
}
/* line 521, ../sass/main.scss */
.footer .container .column p {
  font-size: 13px;
  color: #636673;
  padding: 5px 0;
  display: block;
}
/* line 528, ../sass/main.scss */
.footer .container .column:last-child a {
  color: #007fff;
  font-size: 13px;
  padding: 5px 0;
  border-bottom: 1px solid #b0cdff;
}
/* line 535, ../sass/main.scss */
.footer .container .column ul {
  list-style: none;
}
/* line 537, ../sass/main.scss */
.footer .container .column ul li {
  padding-left: 0;
}
/* line 539, ../sass/main.scss */
.footer .container .column ul li a {
  font-size: 13px;
  color: #636673;
  padding: 5px 0 5px;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 545, ../sass/main.scss */
.footer .container .column ul li a:hover {
  color: #007fff;
}

/* line 555, ../sass/main.scss */
.menu-bar-container {
  position: absolute;
  z-index: 100;
  background: white;
  width: 100%;
  padding: 0 0 20px;
  -webkit-box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
  display: none;
}
/* line 565, ../sass/main.scss */
.menu-bar-container.visible {
  display: inline-block;
}
/* line 569, ../sass/main.scss */
.menu-bar-container .container .column {
  width: 33.33%;
  float: left;
  margin-top: 70px;
}
/* line 573, ../sass/main.scss */
.menu-bar-container .container .column h2 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 12px;
}
/* line 580, ../sass/main.scss */
.menu-bar-container .menu {
  display: none;
}
/* line 583, ../sass/main.scss */
.menu-bar-container .menu.visible {
  display: block;
}

/* line 588, ../sass/main.scss */
ul.list-style {
  list-style: none;
}
/* line 590, ../sass/main.scss */
ul.list-style li {
  padding-left: 15px;
  position: relative;
}
/* line 593, ../sass/main.scss */
ul.list-style li:before {
  content: "•";
  color: #007fff;
  position: absolute;
  left: 1px;
  top: 3px;
}
/* line 600, ../sass/main.scss */
ul.list-style li a {
  font-size: 13px;
  color: #636673;
  padding: 5px 0 5px;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 606, ../sass/main.scss */
ul.list-style li a:hover {
  color: #007fff;
}

/* line 613, ../sass/main.scss */
a.not-linkable {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
