@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100&subset=latin,latin-ext,cyrillic);
/* line 5, ../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/main.scss */
body {
  font-family: 'Roboto';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/main.scss */
a.linkable:hover {
  text-decoration: underline;
}

/* line 16, ../sass/main.scss */
h1 .wave-svg,
h1.wave img,
h2 .wave-svg,
h2.wave img {
  position: relative;
  top: -18px;
  width: 80px;
  display: block;
}

/* line 26, ../sass/main.scss */
.wave-short-svg {
  width: 60px !important;
  height: 10px;
}

/* line 31, ../sass/main.scss */
#block-phone h2.wave:before {
  top: -45px;
}

/* line 35, ../sass/main.scss */
h1, h2 {
  color: #063D85;
}

/* line 39, ../sass/main.scss */
.wave {
  position: relative;
}
/* line 41, ../sass/main.scss */
.wave:before {
  position: absolute;
  text-align: center;
}

/* line 47, ../sass/main.scss */
a {
  text-decoration: none;
  color: #063D85;
}

/* line 52, ../sass/main.scss */
.content-container {
  padding-top: 80px;
}
/* line 56, ../sass/main.scss */
.content-container.page {
  padding-top: 20px;
}
/* line 63, ../sass/main.scss */
.content-container.page .container .text-block {
  margin-bottom: 20px;
}
/* line 65, ../sass/main.scss */
.content-container.page .container .text-block h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 36px;
  margin: 0px 0 10px 0;
}
/* line 70, ../sass/main.scss */
.content-container.page .container .text-block h1 .wave-svg {
  top: -10px;
}
/* line 76, ../sass/main.scss */
.content-container .container {
  position: relative;
}
/* line 78, ../sass/main.scss */
.content-container .container .text-block {
  width: 68%;
  color: #363842;
  font-size: 13px;
  line-height: 17px;
  float: left;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 88, ../sass/main.scss */
.content-container .container .text-block > div {
  padding-right: 80px;
}
/* line 91, ../sass/main.scss */
.content-container .container .text-block hr {
  border: none;
  border-top: 1px solid #dadada;
  margin: 25px 0;
}
/* line 96, ../sass/main.scss */
.content-container .container .text-block.home {
  width: 70%;
  padding-bottom: 0;
}
/* line 99, ../sass/main.scss */
.content-container .container .text-block.home .content a {
  font-size: 16px;
  margin-top: 20px;
  display: block;
}
/* line 104, ../sass/main.scss */
.content-container .container .text-block.home .block {
  padding: 83px 0 0;
}
/* line 108, ../sass/main.scss */
.content-container .container .text-block .block {
  color: #363842;
}
/* line 110, ../sass/main.scss */
.content-container .container .text-block .block p + h2,
.content-container .container .text-block .block ol + h2,
.content-container .container .text-block .block ul + h2,
.content-container .container .text-block .block span + h2 {
  padding-top: 10px;
  border-top: 1px solid #dadada;
  margin-top: 20px;
  padding-top: 25px;
}
/* line 119, ../sass/main.scss */
.content-container .container .text-block .block h2 {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  margin: 8px 0;
}
/* line 124, ../sass/main.scss */
.content-container .container .text-block .block h2 div {
  display: inline-block;
}
/* line 127, ../sass/main.scss */
.content-container .container .text-block .block h2 a:not([href]) {
  font-size: 17px;
}
/* line 130, ../sass/main.scss */
.content-container .container .text-block .block h2 a[href] {
  font-size: 15px;
  display: block;
  position: relative;
  padding-left: 23px;
}
/* line 135, ../sass/main.scss */
.content-container .container .text-block .block h2 a[href]:hover:before {
  border-color: #007fff;
  color: white;
}
/* line 140, ../sass/main.scss */
.content-container .container .text-block .block h2 a[href]:before {
  position: absolute;
  display: block;
  content: '';
  background: url("../img/icons/down.svg");
  background-size: contain;
  width: 15px;
  height: 15px;
  left: 2px;
  top: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 170, ../sass/main.scss */
.content-container .container .text-block .block h2 a:not([href]), .content-container .container .text-block .block h2 > span, .content-container .container .text-block .block h2 {
  font-weight: 500;
  color: #063D85;
}
/* line 174, ../sass/main.scss */
.content-container .container .text-block .block h2 a:not([href]):hover {
  text-decoration: none;
}
/* line 178, ../sass/main.scss */
.content-container .container .text-block .block p {
  margin: 10px 0;
}
/* line 181, ../sass/main.scss */
.content-container .container .text-block .block ul, .content-container .container .text-block .block ol {
  padding-left: 35px;
}
/* line 183, ../sass/main.scss */
.content-container .container .text-block .block ul li, .content-container .container .text-block .block ol li {
  padding-bottom: 2px;
}
/* line 188, ../sass/main.scss */
.content-container .container .text-block .content {
  padding-right: 50px;
}
/* line 190, ../sass/main.scss */
.content-container .container .text-block .content h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
}
/* line 195, ../sass/main.scss */
.content-container .container .text-block .content h3 {
  padding: 17px 0 0;
  color: #7e93b2;
}
/* line 199, ../sass/main.scss */
.content-container .container .text-block .content p {
  font-size: 15px;
  margin: 25px 0 28px;
  line-height: 22px;
}
/* line 204, ../sass/main.scss */
.content-container .container .text-block .content a {
  color: #007fff;
  padding-left: 50px;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
}
/* line 210, ../sass/main.scss */
.content-container .container .text-block .content a:hover {
  color: #063D85;
}
/* line 213, ../sass/main.scss */
.content-container .container .text-block .content a:before {
  content: '';
  position: absolute;
  width: 31px;
  height: 31px;
  display: inline-block;
  background: url("../img/arrow-right-blue.png");
  left: 0;
  bottom: -7px;
}
/* line 226, ../sass/main.scss */
.content-container .container .blue-circle {
  position: absolute;
  width: 184px;
  height: 184px;
  background: #007fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  right: 94px;
  top: 15px;
  text-align: center;
  color: white;
}
/* line 236, ../sass/main.scss */
.content-container .container .blue-circle h2 {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: bold;
  margin-top: 77px;
  color: white;
}
/* line 242, ../sass/main.scss */
.content-container .container .blue-circle h2.wave:before {
  content: url("../img/icons/wave-single-small.svg");
  margin-left: -24px;
  left: 50%;
}
/* line 248, ../sass/main.scss */
.content-container .container .blue-circle img {
  position: absolute;
  left: 0;
}
/* line 252, ../sass/main.scss */
.content-container .container .blue-circle p {
  font-size: 13px;
  color: #cdd7ea;
  line-height: 18px;
}
/* line 258, ../sass/main.scss */
.content-container .container .bar-menu {
  width: 32%;
  position: relative;
  display: block;
  float: left;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 267, ../sass/main.scss */
.content-container .container .bar-menu .block:last-child {
  margin-bottom: 0;
}
/* line 270, ../sass/main.scss */
.content-container .container .bar-menu .block {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background: white;
  color: #363842;
  font-size: 13px;
  line-height: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
/* line 280, ../sass/main.scss */
.content-container .container .bar-menu .block .border {
  border: 2px solid #d6dce8;
  height: 100%;
  width: 100%;
  padding: 25px 12px 10px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  background: transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 292, ../sass/main.scss */
.content-container .container .bar-menu .block .border img.one {
  width: 100%;
  max-width: 287px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 297, ../sass/main.scss */
.content-container .container .bar-menu .block .border.padding-none {
  padding: 22px 10px;
  text-align: center;
}
/* line 301, ../sass/main.scss */
.content-container .container .bar-menu .block .border h2 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 305, ../sass/main.scss */
.content-container .container .bar-menu .block .border h2 .wave-svg {
  top: -11px;
}
/* line 311, ../sass/main.scss */
.content-container .container .bar-menu .block .views-row {
  padding-left: 12px;
  position: relative;
  display: block;
}
/* line 315, ../sass/main.scss */
.content-container .container .bar-menu .block .views-row.link-icon {
  padding-left: 18px;
}
/* line 317, ../sass/main.scss */
.content-container .container .bar-menu .block .views-row.link-icon:before {
  content: '';
  width: 15px;
  height: 15px;
  top: 3px;
  left: -1px;
}
/* line 325, ../sass/main.scss */
.content-container .container .bar-menu .block .views-row.link-icon-doc:before {
  background: url("../img/icons/doc.svg") no-repeat;
  background-size: contain;
}
/* line 329, ../sass/main.scss */
.content-container .container .bar-menu .block .views-row.link-icon-pdf:before {
  background: url("../img/icons/pdf.svg") no-repeat;
  background-size: contain;
}
/* line 333, ../sass/main.scss */
.content-container .container .bar-menu .block .views-row.link-icon-php:before, .content-container .container .bar-menu .block .views-row.link-icon-html:before {
  background: url("../img/icons/link.svg") no-repeat;
  background-size: contain;
  height: 10px;
  top: 5px;
  left: 2px;
}
/* line 341, ../sass/main.scss */
.content-container .container .bar-menu .block .views-row:before {
  content: "•";
  color: #007fff;
  position: absolute;
  top: 4px;
  font-size: 10px;
  left: 1px;
}
/* line 349, ../sass/main.scss */
.content-container .container .bar-menu .block .views-row a {
  display: block;
  padding: 2px 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 354, ../sass/main.scss */
.content-container .container .bar-menu .block .views-row a:hover {
  color: #007fff;
  text-decoration: underline;
}
/* line 367, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap,
.content-container .container #block-views-block-content-banners-block-3 .wrap {
  top: 30px;
  width: 100%;
  display: inline-block;
  position: relative;
  height: 260px;
  font-size: 0;
  vertical-align: bottom;
}
/* line 376, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block {
  width: 100%;
  height: 130px;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 382, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block .wrapper,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block .wrapper {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  position: relative;
  padding: 20px;
}
/* line 391, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block > a,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block > a {
  display: block;
  height: 90px;
}
/* line 395, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block:hover,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block:hover {
  cursor: pointer;
}
/* line 398, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 {
  height: 180px;
  position: relative;
}
/* line 402, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical > a, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 > a,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical > a,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 > a {
  display: block;
  height: 180px;
}
/* line 406, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .border > div,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .border > div,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .border > div,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .background,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .border > div,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .background {
  width: 50%;
  height: 100%;
}
/* line 410, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .border > div .wrapper-text,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background .wrapper-text, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .border > div .wrapper-text,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background .wrapper-text,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .border > div .wrapper-text,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .background .wrapper-text,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .border > div .wrapper-text,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .background .wrapper-text {
  text-align: left;
  display: inline-block;
  margin: auto;
}
/* line 414, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .border > div .wrapper-text:before, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .border > div .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background .wrapper-text:after, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .border > div .wrapper-text:before, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .border > div .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .border > div .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .border > div .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .background .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .background .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .border > div .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .border > div .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .background .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .background .wrapper-text:after {
  content: url("../img/icons/wave-single-small.svg");
  position: absolute;
}
/* line 419, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .border > div .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background .wrapper-text:before, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .border > div .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .border > div .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .background .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .border > div .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .background .wrapper-text:before {
  right: -3px;
  top: 22px;
}
/* line 423, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .border > div .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background .wrapper-text:after, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .border > div .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .border > div .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .background .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .border > div .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .background .wrapper-text:after {
  bottom: 22px;
  left: -3px;
}
/* line 429, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .background,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .background {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
/* line 434, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background img, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background img,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.vertical .background img,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-1 .background img {
  width: 100%;
  height: 100%;
}
/* line 440, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.horizontal,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-2 {
  height: 250px;
}
/* line 443, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal > a, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 > a,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.horizontal > a,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-2 > a {
  display: block;
  height: 100%;
}
/* line 447, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal .border div, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 .border div,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.horizontal .border div,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-2 .border div {
  width: 100%;
  height: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 452, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal .border div img, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 .border div img,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.horizontal .border div img,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-2 .border div img {
  margin-top: 20px;
}
/* line 455, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal .border div h2, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 .border div h2,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.horizontal .border div h2,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-2 .border div h2 {
  margin-top: 25px;
}
/* line 459, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal .background, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 .background,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.horizontal .background,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-2 .background {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
/* line 467, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal .background img, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 .background img,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.horizontal .background img,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-2 .background img {
  width: 100%;
}
/* line 472, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-3,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-3 {
  position: relative;
  top: -60px;
}
/* line 475, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-3 a img,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block.block-3 a img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/* line 481, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block .border,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block .border {
  border: 3px solid #d6dce8;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  background: transparent;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 491, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block .border > div,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block .border > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 495, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block .border > div img.one,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block .border > div img.one {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 501, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block .border > div h2,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block .border > div h2 {
  font-size: 31px;
  font-weight: bold;
  line-height: 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 506, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block .border > div h2.wave:before,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block .border > div h2.wave:before {
  content: url("../img/icons/wave-small.svg");
  top: 28px;
  left: 50%;
  margin-left: -40px;
}
/* line 516, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block:hover .border,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block:hover .border {
  border-color: #007fff;
}
/* line 519, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block:hover .border div h2,
.content-container .container #block-views-block-content-banners-block-3 .wrap .block:hover .border div h2 {
  color: #007fff;
}

/* line 528, ../sass/main.scss */
#block-sitebranding .mobile {
  display: none;
}

/* line 532, ../sass/main.scss */
.header-container {
  width: 100%;
  z-index: 110;
  position: relative;
  background: white;
}
/* line 537, ../sass/main.scss */
.header-container .container {
  height: 120px;
  width: 100%;
  display: table;
  margin: auto !important;
}
/* line 542, ../sass/main.scss */
.header-container .container div,
.header-container .container .mobile-bar {
  display: table-cell;
  vertical-align: middle;
}
/* line 546, ../sass/main.scss */
.header-container .container div.logo,
.header-container .container .mobile-bar.logo {
  text-align: left;
}
/* line 549, ../sass/main.scss */
.header-container .container div.social,
.header-container .container .mobile-bar.social {
  text-align: right;
  display: none;
}
/* line 552, ../sass/main.scss */
.header-container .container div.social a,
.header-container .container .mobile-bar.social a {
  float: left;
  color: #007fff;
  padding: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 557, ../sass/main.scss */
.header-container .container div.social a:hover,
.header-container .container .mobile-bar.social a:hover {
  color: #252b41;
}
/* line 560, ../sass/main.scss */
.header-container .container div.social a:first-child,
.header-container .container .mobile-bar.social a:first-child {
  margin-right: 5px;
}
/* line 565, ../sass/main.scss */
.header-container .container div.menu,
.header-container .container .mobile-bar.menu {
  text-align: center;
  display: block;
  height: 120px;
}
/* line 569, ../sass/main.scss */
.header-container .container div.menu ul,
.header-container .container .mobile-bar.menu ul {
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 575, ../sass/main.scss */
.header-container .container div.menu ul li a,
.header-container .container .mobile-bar.menu ul li a {
  cursor: pointer;
  padding: 0;
  margin: 45px 0;
}
/* line 580, ../sass/main.scss */
.header-container .container div.menu ul li,
.header-container .container .mobile-bar.menu ul li {
  float: left;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  width: 24%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 590, ../sass/main.scss */
.header-container .container div.menu ul li.active > a,
.header-container .container .mobile-bar.menu ul li.active > a {
  color: #007fff;
}
/* line 592, ../sass/main.scss */
.header-container .container div.menu ul li.active > a svg path,
.header-container .container .mobile-bar.menu ul li.active > a svg path {
  fill: #007fff !important;
}
/* line 596, ../sass/main.scss */
.header-container .container div.menu ul li a,
.header-container .container .mobile-bar.menu ul li a {
  margin: 65px 0 25px;
}
/* line 598, ../sass/main.scss */
.header-container .container div.menu ul li a:before,
.header-container .container .mobile-bar.menu ul li a:before {
  opacity: 1;
}
/* line 602, ../sass/main.scss */
.header-container .container div.menu ul li:last-child,
.header-container .container .mobile-bar.menu ul li:last-child {
  width: 28%;
}
/* line 605, ../sass/main.scss */
.header-container .container div.menu ul li:last-child a,
.header-container .container .mobile-bar.menu ul li:last-child a {
  border-right: none;
}
/* line 608, ../sass/main.scss */
.header-container .container div.menu ul li .menu,
.header-container .container .mobile-bar.menu ul li .menu {
  display: none;
}
/* line 611, ../sass/main.scss */
.header-container .container div.menu ul li a,
.header-container .container .mobile-bar.menu ul li a {
  position: relative;
  color: #063D85;
  width: 100%;
  display: inline-block;
  border-color: #e9ecf1 !important;
  border-right: 1px solid #e9ecf1;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0;
  padding: 10px 0 13px 0;
}
/* line 622, ../sass/main.scss */
.header-container .container div.menu ul li a svg,
.header-container .container .mobile-bar.menu ul li a svg {
  display: block;
  height: 35px;
  width: 35px;
  margin: 10px auto;
}
/* line 627, ../sass/main.scss */
.header-container .container div.menu ul li a svg path,
.header-container .container .mobile-bar.menu ul li a svg path {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 632, ../sass/main.scss */
.header-container .container div.menu ul li a span,
.header-container .container .mobile-bar.menu ul li a span {
  font-weight: lighter;
  font-size: 13px;
}
/* line 636, ../sass/main.scss */
.header-container .container div.menu ul li a:hover,
.header-container .container .mobile-bar.menu ul li a:hover {
  color: #007fff;
}
/* line 638, ../sass/main.scss */
.header-container .container div.menu ul li a:hover svg path,
.header-container .container .mobile-bar.menu ul li a:hover svg path {
  fill: #007fff !important;
}
/* line 663, ../sass/main.scss */
.header-container .container div.menu ul li a:after,
.header-container .container .mobile-bar.menu ul li a:after {
  content: '';
  width: 100%;
  height: 120px;
  position: absolute;
  left: 0;
  top: -24px;
}
/* line 679, ../sass/main.scss */
.header-container .container .mobile-bar {
  display: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #007fff;
}
/* line 683, ../sass/main.scss */
.header-container .container .mobile-bar:hover {
  color: #252b41;
}

/* line 690, ../sass/main.scss */
div.container {
  max-width: 1170px;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 696, ../sass/main.scss */
.footer {
  padding: 60px 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 698, ../sass/main.scss */
.footer.front {
  padding: 40px 0 10px !important;
  margin-bottom: 30px;
}
/* line 704, ../sass/main.scss */
.footer .container .column {
  float: left;
}
/* line 706, ../sass/main.scss */
.footer .container .column:first-child {
  width: 70%;
}
/* line 708, ../sass/main.scss */
.footer .container .column:first-child .col {
  width: 18%;
  float: left;
}
/* line 712, ../sass/main.scss */
.footer .container .column:first-child h2 {
  position: relative;
}
/* line 716, ../sass/main.scss */
.footer .container .column h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 721, ../sass/main.scss */
.footer .container .column p {
  font-size: 12px;
  color: #636673;
  padding: 2px 0;
  display: block;
}
/* line 727, ../sass/main.scss */
.footer .container .column#block-saziniesarmums {
  width: 30%;
  line-height: 15px;
  padding-top: 8px;
}
/* line 731, ../sass/main.scss */
.footer .container .column#block-saziniesarmums a {
  color: #007fff;
}
/* line 734, ../sass/main.scss */
.footer .container .column#block-saziniesarmums a:hover {
  text-decoration: underline;
}
/* line 738, ../sass/main.scss */
.footer .container .column ul {
  list-style: none;
}
/* line 740, ../sass/main.scss */
.footer .container .column ul li {
  padding-left: 0;
}
/* line 744, ../sass/main.scss */
.footer .container .column ul li a,
.footer .container .column .views-row a {
  font-size: 12px;
  color: #636673;
  padding: 2px 0 5px;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 751, ../sass/main.scss */
.footer .container .column ul li a:hover,
.footer .container .column .views-row a:hover {
  color: #007fff;
  text-decoration: underline;
}

/* line 760, ../sass/main.scss */
#sub-menu {
  z-index: 105;
  background: #F5F7FA;
}
/* line 763, ../sass/main.scss */
#sub-menu .menu.visible.current {
  display: none;
}
/* line 766, ../sass/main.scss */
#sub-menu .menu.current {
  display: none;
}
/* line 769, ../sass/main.scss */
#sub-menu #block-parlja-2,
#sub-menu #block-parlja-2--2 {
  display: none;
}

/* line 775, ../sass/main.scss */
#block-parlja-2,
#block-parlja-2--2 {
  padding-top: 20px;
}
/* line 778, ../sass/main.scss */
#block-parlja-2 h2,
#block-parlja-2--2 h2 {
  color: #063D85;
  font-size: 16px;
  font-weight: bold;
}
/* line 783, ../sass/main.scss */
#block-parlja-2 .menu,
#block-parlja-2--2 .menu {
  padding-top: 0;
}

/* line 788, ../sass/main.scss */
.menu-bar-container {
  position: absolute;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 0;
  -webkit-box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
}
/* line 797, ../sass/main.scss */
.menu-bar-container.visible {
  display: block;
}
/* line 800, ../sass/main.scss */
.menu-bar-container.relative {
  position: relative !important;
}
/* line 804, ../sass/main.scss */
.menu-bar-container .container .column {
  width: 33.33%;
  float: left;
  margin-top: 10px;
}
/* line 808, ../sass/main.scss */
.menu-bar-container .container .column h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 815, ../sass/main.scss */
.menu-bar-container .menu {
  display: none;
  padding-top: 10px;
  padding-bottom: 20px;
}
/* line 820, ../sass/main.scss */
.menu-bar-container .menu.visible {
  display: block;
}

/* line 826, ../sass/main.scss */
.menu .column h2 a {
  color: #063D85;
  font-size: 16px;
}

/* line 832, ../sass/main.scss */
.menu .column ul {
  list-style: none;
}
/* line 834, ../sass/main.scss */
.menu .column ul li {
  padding-left: 0px;
  padding-bottom: 2px;
  position: relative;
}
/* line 846, ../sass/main.scss */
.menu .column ul li a {
  font-size: 13px;
  color: #063D85;
  padding: 2px 0 2px;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 852, ../sass/main.scss */
.menu .column ul li a:hover {
  color: #007fff;
  text-decoration: underline;
}
/* line 856, ../sass/main.scss */
.menu .column ul li a.active {
  color: #007fff;
}

/* line 863, ../sass/main.scss */
.content-container.home .text-block {
  background: transparent !important;
  padding: 0 !important;
}

/* line 867, ../sass/main.scss */
.content-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 873, ../sass/main.scss */
.content-container.home {
  padding-top: 20px !important;
}

/* line 876, ../sass/main.scss */
.content-container .text-block {
  background: white;
  padding: 25px;
}
/* line 879, ../sass/main.scss */
.content-container .text-block ul, .content-container .text-block ol {
  padding-left: 0px !important;
  list-style: none;
}
/* line 882, ../sass/main.scss */
.content-container .text-block ul li, .content-container .text-block ol li {
  padding-left: 12px;
  position: relative;
}
/* line 885, ../sass/main.scss */
.content-container .text-block ul li:before, .content-container .text-block ol li:before {
  content: "•";
  color: #063D85;
  position: absolute;
  top: 1px;
  font-size: 16px;
  left: 1px;
}
/* line 895, ../sass/main.scss */
.content-container .text-block ol {
  margin: 10px 0;
  padding-left: 15px !important;
}
/* line 899, ../sass/main.scss */
.content-container .text-block a {
  color: #007fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 902, ../sass/main.scss */
.content-container .text-block a:hover {
  text-decoration: underline;
}
/* line 906, ../sass/main.scss */
.content-container .text-block h1, .content-container .text-block h2 {
  margin: 20px 0;
}
/* line 910, ../sass/main.scss */
.content-container .text-block table {
  width: 100%;
  background: #fff;
  margin: 1em 0;
  box-shadow: none;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 919, ../sass/main.scss */
.content-container .text-block table thead th {
  cursor: auto;
  background: white;
  text-align: inherit;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px;
  vertical-align: inherit;
  font-weight: 500;
  text-transform: none;
}
/* line 929, ../sass/main.scss */
.content-container .text-block table th, .content-container .text-block table td {
  font-weight: 400;
  padding: 5px 5px;
  border: 1px solid #efefef;
  font-size: 13px;
}
/* line 935, ../sass/main.scss */
.content-container .text-block table tbody tr:nth-child(1) td,
.content-container .text-block table tbody tr:nth-child(2n+1) td {
  background: #f9f9f9;
}
/* line 939, ../sass/main.scss */
.content-container .text-block table p {
  margin: 0 !important;
}

/* line 948, ../sass/main.scss */
.upper-header {
  z-index: 115;
  position: relative;
  text-align: right;
  height: 30px;
  line-height: 0;
  box-shadow: 0px 5px 13px -6px rgba(0, 0, 0, 0.4);
}
/* line 956, ../sass/main.scss */
.upper-header, .upper-header a, .upper-header h1, .upper-header h2, .upper-header h3, .upper-header p, .upper-header span, .upper-header div {
  color: #063D85;
}
/* line 959, ../sass/main.scss */
.upper-header a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 962, ../sass/main.scss */
.upper-header a:hover {
  color: #007fff;
}
/* line 1017, ../sass/main.scss */
.upper-header .social {
  display: inline-block;
}
/* line 1019, ../sass/main.scss */
.upper-header .social a {
  font-size: 13px;
  padding: 0px 10px 0px 5px;
  display: inline-block;
}
/* line 1025, ../sass/main.scss */
.upper-header .sitemap {
  display: inline-block;
  padding: 15px;
  padding-right: 18px;
  margin-right: 10px;
  border-right: 1px solid #BEBEBE;
}
/* line 1031, ../sass/main.scss */
.upper-header .sitemap a {
  font-size: 13px;
  display: block;
}

/* line 1041, ../sass/main.scss */
ul.dropdown li:last-child a {
  border-right: none;
}

/* Doesn't work in IE */
/* line 1046, ../sass/main.scss */
ul.dropdown li.hover,
ul.dropdown li:hover {
  position: relative;
}

/* line 1056, ../sass/main.scss */
ul.dropdown ul {
  display: none;
  width: 220px;
  position: absolute;
  top: 100%;
  left: 0;
}

/* line 1066, ../sass/main.scss */
ul.dropdown ul li {
  font-weight: normal;
  float: none;
}

/* IE 6 & 7 Needs Inline Block */
/* line 1073, ../sass/main.scss */
ul.dropdown ul li a {
  border-right: none;
  width: 100%;
  display: inline-block;
}

/* line 1079, ../sass/main.scss */
ul.dropdown ul ul {
  left: 100%;
  top: 0;
}

/* line 1091, ../sass/main.scss */
#sub-menu {
  background: none !important;
  box-shadow: none !important;
}
/* line 1094, ../sass/main.scss */
#sub-menu .container {
  -webkit-box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
}
/* line 1099, ../sass/main.scss */
#sub-menu .menu {
  background: #F9F9F9;
  padding: 10px 20px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 5px solid white;
}
/* line 1106, ../sass/main.scss */
#sub-menu .menu a:hover {
  text-decoration: underline;
}
/* line 1109, ../sass/main.scss */
#sub-menu .menu a.not-linkable:hover {
  text-decoration: none;
}
/* line 1115, ../sass/main.scss */
#sub-menu .menu li:before {
  color: #007fff;
}

/* line 1122, ../sass/main.scss */
.upper-header #block-sitebranding {
  display: none;
}

/* line 1127, ../sass/main.scss */
.block .wrapper,
.bar-menu .block {
  -webkit-box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
}

/* line 1135, ../sass/main.scss */
#block-views-block-content-banners-block-2 .border {
  padding: 12px;
}
/* line 1138, ../sass/main.scss */
#block-views-block-content-banners-block-2 img {
  max-width: 100%;
}

/* line 1143, ../sass/main.scss */
#block-valoduparsledzejs {
  display: inline-block;
  border-right: 1px solid #BEBEBE;
  padding-right: 10px;
}
/* line 1147, ../sass/main.scss */
#block-valoduparsledzejs ul.language {
  display: block;
  padding: 14px 0;
}
/* line 1150, ../sass/main.scss */
#block-valoduparsledzejs ul.language li {
  margin-right: 4px;
  display: inline;
}
/* line 1153, ../sass/main.scss */
#block-valoduparsledzejs ul.language li a {
  font-size: 13px;
  padding-right: 10px;
  border-right: 1px solid #BEBEBE;
}
/* line 1160, ../sass/main.scss */
#block-valoduparsledzejs ul.language li:last-child a {
  border: none;
  padding-right: 0;
}
/* line 1165, ../sass/main.scss */
#block-valoduparsledzejs ul.language li.is-active {
  display: none;
}

/* line 1171, ../sass/main.scss */
.copyright {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  padding: 9px 0;
  background: #BEBEBE;
  font-size: 13px;
  color: white;
}

/* line 1182, ../sass/main.scss */
div.logo {
  width: 140px;
}
/* line 1184, ../sass/main.scss */
div.logo img {
  height: 110px;
  margin-left: -10px;
}

/* line 1190, ../sass/main.scss */
.content-wrapper {
  background: url("../img/newbg31.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
/* line 1197, ../sass/main.scss */
.content-wrapper .header-container.home .shadow {
  box-shadow: 0px 7px 15px -6px rgba(0, 0, 0, 0.5);
}

/* line 1203, ../sass/main.scss */
#block-lja-content {
  position: relative;
  margin-bottom: 10px;
}

/* line 1207, ../sass/main.scss */
.content-container .text-block .goTopWrapper {
  text-align: right;
  position: absolute;
  right: -10px;
  top: 500px;
  display: none;
}

/* line 1214, ../sass/main.scss */
.content-container .text-block .goTopWrapper a.goTopButton {
  display: inline-block;
  background: #007fff url("../img/icons/up2.svg") no-repeat;
  color: white;
  background-size: contain;
  background-position: 100% 0;
  margin-bottom: 20px;
  padding-right: 25px;
  padding-left: 10px;
  padding: 5px 30px 5px 10px;
  margin-top: 5px;
}
/* line 1225, ../sass/main.scss */
.content-container .text-block .goTopWrapper a.goTopButton:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 1239, ../sass/main.scss */
.extendable-list .views-row {
  padding-left: 12px;
  position: relative;
  display: block;
}
/* line 1243, ../sass/main.scss */
.extendable-list .views-row.link-icon {
  padding-left: 18px;
}
/* line 1245, ../sass/main.scss */
.extendable-list .views-row.link-icon:before {
  content: '';
  width: 15px;
  height: 15px;
  top: 3px;
  left: -1px;
}
/* line 1253, ../sass/main.scss */
.extendable-list .views-row.link-icon-doc:before {
  background: url("../img/icons/doc.svg") no-repeat;
  background-size: contain;
}
/* line 1257, ../sass/main.scss */
.extendable-list .views-row.link-icon-pdf:before {
  background: url("../img/icons/pdf.svg") no-repeat;
  background-size: contain;
}
/* line 1261, ../sass/main.scss */
.extendable-list .views-row.link-icon-php:before, .extendable-list .views-row.link-icon-html:before {
  background: url("../img/icons/link.svg") no-repeat;
  background-size: contain;
  height: 10px;
  top: 5px;
  left: 2px;
}
/* line 1269, ../sass/main.scss */
.extendable-list .views-row:before {
  content: '';
  color: #007fff;
  position: absolute;
  top: 4px;
  font-size: 10px;
  left: 1px;
}
/* line 1277, ../sass/main.scss */
.extendable-list .views-row a {
  display: block;
  padding: 2px 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 1282, ../sass/main.scss */
.extendable-list .views-row a:hover {
  color: #007fff;
  text-decoration: underline;
}
/* line 1287, ../sass/main.scss */
.extendable-list ol {
  margin: 5px 0 0 !important;
}
/* line 1290, ../sass/main.scss */
.extendable-list ol li {
  padding-left: 22px !important;
  color: #007fff;
}
/* line 1293, ../sass/main.scss */
.extendable-list ol li:before {
  content: '' !important;
  width: 15px;
  height: 15px;
  background: url("../img/icons/folder-plus.svg") no-repeat;
  background-size: contain;
  color: #007fff;
  position: absolute;
  top: 4px;
  font-size: 10px;
  left: 1px;
}
/* line 1305, ../sass/main.scss */
.extendable-list ol li.expanded:before {
  background: url("../img/icons/folder-minus.svg") no-repeat !important;
  background-size: contain;
}
/* line 1309, ../sass/main.scss */
.extendable-list ol li div.childs > div > .views-row:first-child {
  margin-top: 5px;
}
/* line 1312, ../sass/main.scss */
.extendable-list ol li > div, .extendable-list ol li > div.childs {
  display: none;
  margin-left: -5px !important;
}
/* line 1316, ../sass/main.scss */
.extendable-list ol li > ol {
  display: none;
}
/* line 1320, ../sass/main.scss */
.extendable-list ol ol {
  margin-left: -12px !important;
}

/* line 1325, ../sass/main.scss */
.page-wave {
  position: relative;
  top: -5px;
}

/* line 1331, ../sass/main.scss */
.user-login-form .form-item {
  margin-bottom: 5px;
}
/* line 1333, ../sass/main.scss */
.user-login-form .form-item label {
  font-weight: bold;
  display: block;
  margin-bottom: 2px;
  color: #063D85;
}
/* line 1339, ../sass/main.scss */
.user-login-form .form-item .description {
  margin-top: 2px;
  font-size: 12px;
  color: #636673;
}

/* line 1347, ../sass/main.scss */
input[type=text],
input[type=password] {
  padding: 4px;
  border: 1px solid #dadada;
  color: #007fff;
}

/* line 1354, ../sass/main.scss */
input[type=submit] {
  background: #007fff;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 1362, ../sass/main.scss */
input[type=submit]:hover {
  background: #063D85;
}

/* line 1367, ../sass/main.scss */
.system-messages {
  display: block;
  border: 1px solid #dadada;
  padding: 5px;
  margin-bottom: 15px;
  color: #636673;
}

/* line 1376, ../sass/main.scss */
#block-views-block-news-block-1 .wrap {
  position: relative;
  display: block;
  width: 100%;
  background: white;
  vertical-align: top;
  padding: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 1388, ../sass/main.scss */
#block-views-block-news-block-1 h2 {
  font-size: 23px;
  font-weight: bold;
  padding: 10px 0;
  margin-top: 10px;
}
/* line 1394, ../sass/main.scss */
#block-views-block-news-block-1 .wave-svg {
  top: 0;
  margin-bottom: 10px;
}
/* line 1398, ../sass/main.scss */
#block-views-block-news-block-1 .views-row {
  font-size: 12px;
  line-height: 14px;
  color: #636673;
  padding-top: 20px;
  padding-bottom: 10px;
}
/* line 1404, ../sass/main.scss */
#block-views-block-news-block-1 .views-row h1 {
  font-size: 16px;
  line-height: 16px;
  margin: 5px 0 10px;
}
/* line 1409, ../sass/main.scss */
#block-views-block-news-block-1 .views-row .text-block {
  width: 100%;
}
/* line 1412, ../sass/main.scss */
#block-views-block-news-block-1 .views-row ul.links {
  display: none;
}
/* line 1415, ../sass/main.scss */
#block-views-block-news-block-1 .views-row .views-field-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 1421, ../sass/main.scss */
#block-views-block-news-block-1 .views-row .views-field-created {
  margin-bottom: 10px;
}
/* line 1424, ../sass/main.scss */
#block-views-block-news-block-1 .views-row .views-field-body {
  font-size: 13px;
  line-height: 16px;
}
/* line 1429, ../sass/main.scss */
#block-views-block-news-block-1 div.border {
  min-height: 215px;
  border: 3px solid #d6dce8;
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  background: transparent;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 1441, ../sass/main.scss */
#block-views-block-news-block-1 div[block_id=block-views-block-news-block-1] {
  text-align: left;
  padding: 0 20px;
  padding-bottom: 20px !important;
}
/* line 1445, ../sass/main.scss */
#block-views-block-news-block-1 div[block_id=block-views-block-news-block-1] .content {
  padding-right: 0;
}
/* line 1447, ../sass/main.scss */
#block-views-block-news-block-1 div[block_id=block-views-block-news-block-1] .content p {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #636673;
}
/* line 1453, ../sass/main.scss */
#block-views-block-news-block-1 div[block_id=block-views-block-news-block-1] .content a {
  margin-top: 10px;
  padding-left: 30px;
  font-size: 15px;
}
/* line 1457, ../sass/main.scss */
#block-views-block-news-block-1 div[block_id=block-views-block-news-block-1] .content a:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("../img/arrow-right-blue.png");
  background-size: contain;
  left: 0;
  bottom: 0;
}
/* line 1471, ../sass/main.scss */
#block-views-block-news-block-1 .slick-arrow {
  display: block;
  position: absolute;
  bottom: 35px;
  z-index: 1000;
  border: none;
  font-size: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  outline: none !important;
}
/* line 1483, ../sass/main.scss */
#block-views-block-news-block-1 .slick-arrow:hover {
  opacity: 0.7;
}
/* line 1487, ../sass/main.scss */
#block-views-block-news-block-1 .slick-prev {
  right: 55px;
  background: url("../img/icons/arrow-left.svg");
  background-size: contain;
}
/* line 1492, ../sass/main.scss */
#block-views-block-news-block-1 .slick-next {
  right: 40px;
  background: url("../img/icons/arrow-right.svg");
  background-size: contain;
}

/* line 1499, ../sass/main.scss */
#block-parmumssaite {
  display: inline-block;
  padding: 15px;
  padding-right: 18px;
  margin-right: 10px;
  border-right: 1px solid #BEBEBE;
}
/* line 1505, ../sass/main.scss */
#block-parmumssaite a {
  font-size: 13px;
}

/* line 1510, ../sass/main.scss */
#block-views-block-news-block-1 {
  padding: 0 8px;
  -webkit-box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
}

/* line 1516, ../sass/main.scss */
#block-views-block-content-banners-block-3 {
  padding-right: 16px;
}

/* line 1519, ../sass/main.scss */
#block-views-block-content-banners-block-1 {
  padding-left: 16px;
}

/* line 1523, ../sass/main.scss */
#block-views-block-news-block-1,
#block-views-block-content-banners-block-3,
#block-views-block-content-banners-block-1 {
  position: relative;
  bottom: -15px;
  float: left;
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1535, ../sass/main.scss */
.text-block.home p span {
  background: white;
  color: black;
  padding: 1px 0;
}

/*# sourceMappingURL=main.css.map */
