@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100&subset=latin,latin-ext,cyrillic);
/* line 5, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/main.scss */
body {
  font-family: 'Roboto';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/main.scss */
h1.wave:before {
  content: url("../img/wave-blue-long.png");
  top: -65px;
}

/* line 20, ../sass/main.scss */
h2.wave:before {
  content: url("../img/wave-blue-short.png");
  top: -25px;
}

/* line 26, ../sass/main.scss */
#block-phone h2.wave:before {
  top: -45px;
}

/* line 30, ../sass/main.scss */
h1, h2 {
  color: #3B4F72;
}

/* line 34, ../sass/main.scss */
.wave {
  position: relative;
}
/* line 36, ../sass/main.scss */
.wave:before {
  position: absolute;
  text-align: center;
}

/* line 42, ../sass/main.scss */
a {
  text-decoration: none;
  color: #3B4F72;
}

/* line 47, ../sass/main.scss */
.content-container {
  background: url("../img/background.png");
  background-size: cover;
  padding-top: 80px;
}
/* line 51, ../sass/main.scss */
.content-container.page {
  padding-top: 20px;
  background: url("../img/newbg2.jpg");
  background-size: cover;
}
/* line 56, ../sass/main.scss */
.content-container.page .container .text-block h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin: 25px 0 20px 0;
}
/* line 61, ../sass/main.scss */
.content-container.page .container .text-block h1:before {
  top: -35px;
}
/* line 67, ../sass/main.scss */
.content-container .container {
  position: relative;
}
/* line 69, ../sass/main.scss */
.content-container .container .text-block {
  width: 68%;
  color: #363842;
  font-size: 13px;
  line-height: 17px;
  float: left;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 79, ../sass/main.scss */
.content-container .container .text-block > div {
  padding-right: 80px;
}
/* line 82, ../sass/main.scss */
.content-container .container .text-block hr {
  border: none;
  border-top: 1px solid #dadada;
  margin: 25px 0;
}
/* line 87, ../sass/main.scss */
.content-container .container .text-block.home {
  width: 70%;
  padding-bottom: 60px !important;
}
/* line 90, ../sass/main.scss */
.content-container .container .text-block.home .content a {
  font-size: 16px;
  margin-top: 20px;
  display: block;
}
/* line 95, ../sass/main.scss */
.content-container .container .text-block.home .block {
  padding: 83px 0 0;
}
/* line 99, ../sass/main.scss */
.content-container .container .text-block .block {
  color: #363842;
  counter-reset: bookmarks-counter;
}
/* line 102, ../sass/main.scss */
.content-container .container .text-block .block h2 {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin: 12px 0;
}
/* line 107, ../sass/main.scss */
.content-container .container .text-block .block h2 div {
  display: inline-block;
}
/* line 110, ../sass/main.scss */
.content-container .container .text-block .block h2 a[href] {
  display: block;
  position: relative;
  padding-left: 28px;
}
/* line 114, ../sass/main.scss */
.content-container .container .text-block .block h2 a[href]:hover:before {
  border-color: #007fff;
  background: #007fff;
  color: white;
}
/* line 119, ../sass/main.scss */
.content-container .container .text-block .block h2 a[href]:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: -3px;
  left: 0;
  content: counter(bookmarks-counter);
  counter-increment: bookmarks-counter;
  padding: 2px 7px;
  font-size: 10px;
  display: block;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  color: #007fff;
  border: 1px solid #dadada;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 140, ../sass/main.scss */
.content-container .container .text-block .block h2 a:not([href]), .content-container .container .text-block .block h2 > span, .content-container .container .text-block .block h2 {
  font-weight: 500;
  color: #363842;
}
/* line 145, ../sass/main.scss */
.content-container .container .text-block .block p {
  margin: 20px 0;
}
/* line 148, ../sass/main.scss */
.content-container .container .text-block .block ul, .content-container .container .text-block .block ol {
  padding-left: 35px;
}
/* line 150, ../sass/main.scss */
.content-container .container .text-block .block ul li, .content-container .container .text-block .block ol li {
  padding-bottom: 5px;
}
/* line 155, ../sass/main.scss */
.content-container .container .text-block .content {
  padding-right: 50px;
}
/* line 157, ../sass/main.scss */
.content-container .container .text-block .content h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
}
/* line 162, ../sass/main.scss */
.content-container .container .text-block .content h3 {
  padding: 17px 0 0;
  color: #7e93b2;
}
/* line 166, ../sass/main.scss */
.content-container .container .text-block .content p {
  font-size: 15px;
  margin: 35px 0 28px;
  line-height: 22px;
}
/* line 171, ../sass/main.scss */
.content-container .container .text-block .content a {
  color: #007fff;
  padding-left: 50px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold;
}
/* line 177, ../sass/main.scss */
.content-container .container .text-block .content a:hover {
  color: #252b41;
}
/* line 180, ../sass/main.scss */
.content-container .container .text-block .content a:before {
  content: '';
  position: absolute;
  width: 31px;
  height: 31px;
  display: inline-block;
  background: url("../img/arrow-right-blue.png");
  left: 0;
  bottom: -7px;
}
/* line 193, ../sass/main.scss */
.content-container .container .blue-circle {
  position: absolute;
  width: 184px;
  height: 184px;
  background: #007fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  right: 94px;
  top: 0;
  text-align: center;
  color: white;
}
/* line 203, ../sass/main.scss */
.content-container .container .blue-circle h2 {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: bold;
  margin-top: 77px;
  color: white;
}
/* line 209, ../sass/main.scss */
.content-container .container .blue-circle h2.wave:before {
  content: url("../img/wave-gray-short.png");
  margin-left: -20px;
  left: 50%;
}
/* line 215, ../sass/main.scss */
.content-container .container .blue-circle img {
  position: absolute;
  left: 0;
}
/* line 219, ../sass/main.scss */
.content-container .container .blue-circle p {
  font-size: 13px;
  color: #cdd7ea;
  line-height: 18px;
}
/* line 225, ../sass/main.scss */
.content-container .container .bar-menu {
  width: 32%;
  position: relative;
  display: block;
  float: left;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 234, ../sass/main.scss */
.content-container .container .bar-menu .block:last-child {
  margin-bottom: 0;
}
/* line 237, ../sass/main.scss */
.content-container .container .bar-menu .block {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background: white;
  color: #363842;
  font-size: 13px;
  line-height: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
}
/* line 247, ../sass/main.scss */
.content-container .container .bar-menu .block .border {
  border: 2px solid #d6dce8;
  height: 100%;
  width: 100%;
  padding: 40px 20px 20px;
  display: table-cell;
  vertical-align: middle;
  background: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 256, ../sass/main.scss */
.content-container .container .bar-menu .block .border img.one {
  width: 100%;
  max-width: 287px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 261, ../sass/main.scss */
.content-container .container .bar-menu .block .border.padding-none {
  padding: 22px 10px;
  text-align: center;
}
/* line 265, ../sass/main.scss */
.content-container .container .bar-menu .block .border h2 {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}
/* line 272, ../sass/main.scss */
.content-container .container .bar-menu .block .views-row {
  padding-left: 12px;
  position: relative;
  display: block;
}
/* line 276, ../sass/main.scss */
.content-container .container .bar-menu .block .views-row:before {
  content: "•";
  color: #007fff;
  position: absolute;
  top: 4px;
  font-size: 10px;
  left: 1px;
}
/* line 284, ../sass/main.scss */
.content-container .container .bar-menu .block .views-row a {
  display: block;
  padding: 2px 0;
}
/* line 291, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap {
  width: 100%;
  display: inline-block;
  position: relative;
  height: 300px;
  margin-bottom: 30px;
  font-size: 0;
  vertical-align: bottom;
}
/* line 299, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block {
  width: 33.33%;
  height: 130px;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 305, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block .wrapper {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  position: relative;
  padding: 20px;
}
/* line 314, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block > a {
  display: block;
  height: 90px;
}
/* line 318, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block:hover {
  cursor: pointer;
}
/* line 321, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 {
  padding-right: 16px;
}
/* line 324, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 {
  padding: 0 8px;
}
/* line 327, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-3 {
  padding-left: 16px;
}
/* line 330, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 {
  height: 220px;
  position: relative;
  top: -70px;
}
/* line 335, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical > a, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 > a {
  display: block;
  height: 180px;
}
/* line 339, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .border > div,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .border > div,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background {
  width: 50%;
  height: 100%;
}
/* line 343, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .border > div .wrapper-text,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background .wrapper-text, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .border > div .wrapper-text,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background .wrapper-text {
  text-align: left;
  display: inline-block;
  margin: auto;
}
/* line 347, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .border > div .wrapper-text:before, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .border > div .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background .wrapper-text:after, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .border > div .wrapper-text:before, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .border > div .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background .wrapper-text:after {
  content: url("../img/wave-gray-short.png");
  position: absolute;
}
/* line 352, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .border > div .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background .wrapper-text:before, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .border > div .wrapper-text:before,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background .wrapper-text:before {
  right: -3px;
  top: 22px;
}
/* line 356, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .border > div .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background .wrapper-text:after, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .border > div .wrapper-text:after,
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background .wrapper-text:after {
  bottom: 22px;
  left: -3px;
}
/* line 362, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
/* line 367, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.vertical .background img, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-1 .background img {
  width: 100%;
  height: 100%;
}
/* line 373, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 {
  height: 370px;
}
/* line 376, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal > a, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 > a {
  display: block;
  height: 330px;
}
/* line 380, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal .border div, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 .border div {
  width: 100%;
  height: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 385, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal .border div img, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 .border div img {
  margin-top: 65px;
}
/* line 388, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal .border div h2, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 .border div h2 {
  margin-top: 80px;
}
/* line 392, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal .background, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 .background {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
/* line 399, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.horizontal .background img, .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 .background img {
  width: 100%;
  height: 100%;
}
/* line 405, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-3 {
  position: relative;
  top: -70px;
}
/* line 408, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-3 a img {
  max-width: 100%;
  height: auto;
}
/* line 413, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block .border {
  border: 3px solid #d6dce8;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  background: transparent;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 423, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block .border > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 427, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block .border > div img.one {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 433, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block .border > div h2 {
  font-size: 31px;
  font-weight: bold;
  line-height: 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 438, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block .border > div h2.wave:before {
  content: url("../img/wave-blue-long.png");
  top: 34px;
  left: 50%;
  margin-left: -34px;
}
/* line 448, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block:hover .border {
  border-color: #007fff;
}
/* line 451, ../sass/main.scss */
.content-container .container #block-views-block-content-banners-block-1 .wrap .block:hover .border div h2 {
  color: #007fff;
}

/* line 460, ../sass/main.scss */
.header-container.home {
  -webkit-box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
}

/* line 467, ../sass/main.scss */
#block-sitebranding .mobile {
  display: none;
}

/* line 471, ../sass/main.scss */
.header-container {
  width: 100%;
  z-index: 110;
  position: relative;
  background: white;
}
/* line 476, ../sass/main.scss */
.header-container .container {
  height: 120px;
  width: 100%;
  display: table;
  margin: auto !important;
}
/* line 481, ../sass/main.scss */
.header-container .container div,
.header-container .container .mobile-bar {
  display: table-cell;
  vertical-align: middle;
}
/* line 485, ../sass/main.scss */
.header-container .container div.logo,
.header-container .container .mobile-bar.logo {
  text-align: left;
}
/* line 488, ../sass/main.scss */
.header-container .container div.social,
.header-container .container .mobile-bar.social {
  text-align: right;
  display: none;
}
/* line 491, ../sass/main.scss */
.header-container .container div.social a,
.header-container .container .mobile-bar.social a {
  float: left;
  color: #007fff;
  padding: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 496, ../sass/main.scss */
.header-container .container div.social a:hover,
.header-container .container .mobile-bar.social a:hover {
  color: #252b41;
}
/* line 499, ../sass/main.scss */
.header-container .container div.social a:first-child,
.header-container .container .mobile-bar.social a:first-child {
  margin-right: 5px;
}
/* line 504, ../sass/main.scss */
.header-container .container div.menu,
.header-container .container .mobile-bar.menu {
  text-align: center;
  display: block;
  height: 120px;
}
/* line 508, ../sass/main.scss */
.header-container .container div.menu ul,
.header-container .container .mobile-bar.menu ul {
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 514, ../sass/main.scss */
.header-container .container div.menu ul li a,
.header-container .container .mobile-bar.menu ul li a {
  cursor: pointer;
  padding: 0;
  margin: 45px 0;
}
/* line 519, ../sass/main.scss */
.header-container .container div.menu ul li a:before,
.header-container .container .mobile-bar.menu ul li a:before {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -30px;
}
/* line 525, ../sass/main.scss */
.header-container .container div.menu ul li:nth-child(1) a:before,
.header-container .container .mobile-bar.menu ul li:nth-child(1) a:before {
  content: url("../img/menu-sailor.png");
}
/* line 528, ../sass/main.scss */
.header-container .container div.menu ul li:nth-child(2) a:before,
.header-container .container .mobile-bar.menu ul li:nth-child(2) a:before {
  content: url("../img/menu-vessel.png");
}
/* line 531, ../sass/main.scss */
.header-container .container div.menu ul li:nth-child(3) a:before,
.header-container .container .mobile-bar.menu ul li:nth-child(3) a:before {
  content: url("../img/menu-icon.png");
}
/* line 534, ../sass/main.scss */
.header-container .container div.menu ul li:nth-child(4) a:before,
.header-container .container .mobile-bar.menu ul li:nth-child(4) a:before {
  content: url("../img/menu-map.png");
}
/* line 537, ../sass/main.scss */
.header-container .container div.menu ul li,
.header-container .container .mobile-bar.menu ul li {
  float: left;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  width: 23%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 547, ../sass/main.scss */
.header-container .container div.menu ul li.active,
.header-container .container .mobile-bar.menu ul li.active {
  border-left: 1px solid #e9ecf1;
}
/* line 550, ../sass/main.scss */
.header-container .container div.menu ul li.active + li,
.header-container .container .mobile-bar.menu ul li.active + li {
  border-left: 1px solid #e9ecf1;
}
/* line 553, ../sass/main.scss */
.header-container .container div.menu ul li.active:last-child,
.header-container .container .mobile-bar.menu ul li.active:last-child {
  border-right: 1px solid #e9ecf1;
}
/* line 556, ../sass/main.scss */
.header-container .container div.menu ul li.active a,
.header-container .container .mobile-bar.menu ul li.active a {
  color: #007fff;
  border: none;
  margin: 65px 0 25px;
}
/* line 560, ../sass/main.scss */
.header-container .container div.menu ul li.active a:before,
.header-container .container .mobile-bar.menu ul li.active a:before {
  opacity: 1;
}
/* line 564, ../sass/main.scss */
.header-container .container div.menu ul li:last-child,
.header-container .container .mobile-bar.menu ul li:last-child {
  width: 31%;
}
/* line 567, ../sass/main.scss */
.header-container .container div.menu ul li:last-child a,
.header-container .container .mobile-bar.menu ul li:last-child a {
  border-right: none;
}
/* line 570, ../sass/main.scss */
.header-container .container div.menu ul li a,
.header-container .container .mobile-bar.menu ul li a {
  position: relative;
  color: #3B4F72;
  width: 100%;
  display: inline-block;
  border-color: #e9ecf1 !important;
  border-right: 1px solid #e9ecf1;
  font-size: 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 579, ../sass/main.scss */
.header-container .container div.menu ul li a span,
.header-container .container .mobile-bar.menu ul li a span {
  font-weight: lighter;
  font-size: 13px;
}
/* line 583, ../sass/main.scss */
.header-container .container div.menu ul li a:hover,
.header-container .container .mobile-bar.menu ul li a:hover {
  color: #007fff;
}
/* line 586, ../sass/main.scss */
.header-container .container div.menu ul li a:before,
.header-container .container .mobile-bar.menu ul li a:before {
  position: absolute;
  top: -45px;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 594, ../sass/main.scss */
.header-container .container div.menu ul li a.active,
.header-container .container .mobile-bar.menu ul li a.active {
  color: #007fff;
  margin: 0;
  padding: 42px 0 20px;
  border: none;
}
/* line 599, ../sass/main.scss */
.header-container .container div.menu ul li a.active:before,
.header-container .container .mobile-bar.menu ul li a.active:before {
  content: url("../img/menu-icon.png");
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -30px;
}
/* line 606, ../sass/main.scss */
.header-container .container div.menu ul li a.active:after,
.header-container .container .mobile-bar.menu ul li a.active:after {
  content: '';
  width: 100%;
  height: 120px;
  position: absolute;
  left: 0;
  top: -24px;
  border-left: 1px solid #e9ecf1;
  border-right: 1px solid #e9ecf1;
}
/* line 622, ../sass/main.scss */
.header-container .container .mobile-bar {
  display: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #007fff;
}
/* line 626, ../sass/main.scss */
.header-container .container .mobile-bar:hover {
  color: #252b41;
}

/* line 633, ../sass/main.scss */
div.container {
  max-width: 1170px;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 639, ../sass/main.scss */
.footer {
  padding: 60px 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 641, ../sass/main.scss */
.footer.front {
  padding: 120px 0 100px !important;
  margin-bottom: 30px;
}
/* line 647, ../sass/main.scss */
.footer .container .column {
  float: left;
}
/* line 649, ../sass/main.scss */
.footer .container .column:first-child {
  width: 70%;
}
/* line 651, ../sass/main.scss */
.footer .container .column:first-child .col {
  width: 33.33%;
  float: left;
}
/* line 655, ../sass/main.scss */
.footer .container .column:first-child h2 {
  position: relative;
}
/* line 658, ../sass/main.scss */
.footer .container .column:first-child h2:before {
  position: absolute;
  text-align: center;
  content: url("../img/wave-blue-short.png");
  top: -25px;
}
/* line 665, ../sass/main.scss */
.footer .container .column h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 670, ../sass/main.scss */
.footer .container .column p {
  font-size: 12px;
  color: #636673;
  padding: 2px 0;
  display: block;
}
/* line 676, ../sass/main.scss */
.footer .container .column#block-saziniesarmums {
  width: 30%;
}
/* line 678, ../sass/main.scss */
.footer .container .column#block-saziniesarmums a {
  color: #007fff;
  font-size: 13px;
  padding: 5px 0;
  border-bottom: 1px solid #b0cdff;
}
/* line 685, ../sass/main.scss */
.footer .container .column ul {
  list-style: none;
}
/* line 687, ../sass/main.scss */
.footer .container .column ul li {
  padding-left: 0;
}
/* line 691, ../sass/main.scss */
.footer .container .column ul li a,
.footer .container .column .views-row a {
  font-size: 12px;
  color: #636673;
  padding: 2px 0 5px;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 698, ../sass/main.scss */
.footer .container .column ul li a:hover,
.footer .container .column .views-row a:hover {
  color: #007fff;
}

/* line 706, ../sass/main.scss */
#sub-menu {
  z-index: 105;
  background: #F5F7FA;
}
/* line 709, ../sass/main.scss */
#sub-menu .menu.visible.current {
  display: none;
}
/* line 712, ../sass/main.scss */
#sub-menu .menu.current {
  display: none;
}

/* line 717, ../sass/main.scss */
.menu-bar-container {
  position: absolute;
  z-index: 100;
  background: white;
  width: 100%;
  padding: 0;
  -webkit-box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.3);
}
/* line 726, ../sass/main.scss */
.menu-bar-container.visible {
  display: block;
}
/* line 729, ../sass/main.scss */
.menu-bar-container.relative {
  position: relative !important;
}
/* line 733, ../sass/main.scss */
.menu-bar-container .container .column {
  width: 33.33%;
  float: left;
  margin-top: 10px;
}
/* line 737, ../sass/main.scss */
.menu-bar-container .container .column h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 744, ../sass/main.scss */
.menu-bar-container .menu {
  display: none;
  padding-top: 10px;
  padding-bottom: 20px;
}
/* line 749, ../sass/main.scss */
.menu-bar-container .menu.visible {
  display: block;
}

/* line 754, ../sass/main.scss */
.menu .column ul {
  list-style: none;
}
/* line 756, ../sass/main.scss */
.menu .column ul li {
  padding-left: 12px;
  position: relative;
}
/* line 759, ../sass/main.scss */
.menu .column ul li:before {
  content: "•";
  color: #007fff;
  position: absolute;
  top: 4px;
  font-size: 10px;
  left: 1px;
}
/* line 767, ../sass/main.scss */
.menu .column ul li a {
  font-size: 13px;
  color: #636673;
  padding: 2px 0 2px;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 773, ../sass/main.scss */
.menu .column ul li a:hover {
  color: #007fff;
}
/* line 776, ../sass/main.scss */
.menu .column ul li a.active {
  color: #007fff;
}

/* line 783, ../sass/main.scss */
.content-container.home .text-block {
  background: transparent !important;
  padding: 0 !important;
}

/* line 787, ../sass/main.scss */
.content-container {
  padding-bottom: 30px;
}

/* line 790, ../sass/main.scss */
.content-container.home {
  padding-bottom: 0px !important;
}

/* line 793, ../sass/main.scss */
.content-container .text-block {
  background: white;
  padding: 25px;
}
/* line 796, ../sass/main.scss */
.content-container .text-block ul, .content-container .text-block ol {
  padding-left: 0px !important;
  list-style: none;
}
/* line 799, ../sass/main.scss */
.content-container .text-block ul li, .content-container .text-block ol li {
  padding-left: 12px;
  position: relative;
}
/* line 802, ../sass/main.scss */
.content-container .text-block ul li:before, .content-container .text-block ol li:before {
  content: "•";
  color: #007fff;
  position: absolute;
  top: 1px;
  font-size: 10px;
  left: 1px;
}
/* line 812, ../sass/main.scss */
.content-container .text-block ol {
  margin: 10px 0;
  padding-left: 15px !important;
}
/* line 816, ../sass/main.scss */
.content-container .text-block a {
  color: #007fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 819, ../sass/main.scss */
.content-container .text-block a:hover {
  color: black;
}
/* line 823, ../sass/main.scss */
.content-container .text-block h1, .content-container .text-block h2 {
  margin: 20px 0;
}
/* line 827, ../sass/main.scss */
.content-container .text-block table {
  width: 100%;
  background: #fff;
  margin: 1em 0;
  box-shadow: none;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 836, ../sass/main.scss */
.content-container .text-block table thead th {
  cursor: auto;
  background: white;
  text-align: inherit;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px;
  vertical-align: inherit;
  font-weight: 500;
  text-transform: none;
}
/* line 846, ../sass/main.scss */
.content-container .text-block table th, .content-container .text-block table td {
  font-weight: 400;
  padding: 10px 15px;
  border: 1px solid #efefef;
  font-size: 13px;
}
/* line 852, ../sass/main.scss */
.content-container .text-block table tbody tr:nth-child(1) td,
.content-container .text-block table tbody tr:nth-child(2n+1) td {
  background: #f9f9f9;
}

/* line 862, ../sass/main.scss */
.upper-header {
  z-index: 115;
  position: relative;
  background: #3B4F72;
  text-align: right;
  height: 20px;
  line-height: 0;
}
/* line 869, ../sass/main.scss */
.upper-header, .upper-header a, .upper-header h1, .upper-header h2, .upper-header h3, .upper-header p, .upper-header span, .upper-header div {
  color: white;
}
/* line 872, ../sass/main.scss */
.upper-header a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 875, ../sass/main.scss */
.upper-header a:hover {
  color: #cdd7ea;
}
/* line 878, ../sass/main.scss */
.upper-header #block-valoduparsledzejs {
  display: inline-block;
  height: 20px;
  box-sizing: border-box;
  font-size: 11px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding-right: 10px;
  margin-right: 10px;
}
/* line 886, ../sass/main.scss */
.upper-header #block-valoduparsledzejs > ul.dropdown {
  position: relative;
}
/* line 888, ../sass/main.scss */
.upper-header #block-valoduparsledzejs > ul.dropdown i {
  margin-left: 5px;
}
/* line 891, ../sass/main.scss */
.upper-header #block-valoduparsledzejs > ul.dropdown li, .upper-header #block-valoduparsledzejs > ul.dropdown a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 897, ../sass/main.scss */
.upper-header #block-valoduparsledzejs > ul.dropdown > li {
  position: relative;
}
/* line 899, ../sass/main.scss */
.upper-header #block-valoduparsledzejs > ul.dropdown > li > a {
  display: block;
  padding: 5px 8px;
}
/* line 904, ../sass/main.scss */
.upper-header #block-valoduparsledzejs > ul.dropdown > li > ul {
  background: #007fff;
  top: 100%;
  width: 142px;
  text-align: left;
  -webkit-box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
}
/* line 912, ../sass/main.scss */
.upper-header #block-valoduparsledzejs > ul.dropdown > li > ul li {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 12px;
}
/* line 916, ../sass/main.scss */
.upper-header #block-valoduparsledzejs > ul.dropdown > li > ul li:before {
  content: "•";
  color: white;
  position: absolute;
  top: 11px;
  font-size: 10px;
  left: 11px;
}
/* line 925, ../sass/main.scss */
.upper-header #block-valoduparsledzejs > ul.dropdown > li > ul a {
  padding: 8px 12px;
}
/* line 930, ../sass/main.scss */
.upper-header .social {
  display: inline-block;
}
/* line 932, ../sass/main.scss */
.upper-header .social a {
  font-size: 11px;
  padding: 2px 10px 2px 5px;
  display: inline-block;
}
/* line 938, ../sass/main.scss */
.upper-header .sitemap {
  height: 20px;
  display: inline-block;
  padding-right: 15px;
  margin-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
/* line 944, ../sass/main.scss */
.upper-header .sitemap a {
  font-size: 11px;
  display: block;
  padding: 0px 0;
}

/* line 955, ../sass/main.scss */
ul.dropdown li:last-child a {
  border-right: none;
}

/* Doesn't work in IE */
/* line 960, ../sass/main.scss */
ul.dropdown li.hover,
ul.dropdown li:hover {
  position: relative;
}

/* line 970, ../sass/main.scss */
ul.dropdown ul {
  display: none;
  width: 220px;
  position: absolute;
  top: 100%;
  left: 0;
}

/* line 980, ../sass/main.scss */
ul.dropdown ul li {
  font-weight: normal;
  float: none;
}

/* IE 6 & 7 Needs Inline Block */
/* line 987, ../sass/main.scss */
ul.dropdown ul li a {
  border-right: none;
  width: 100%;
  display: inline-block;
}

/* line 993, ../sass/main.scss */
ul.dropdown ul ul {
  left: 100%;
  top: 0;
}

/* line 1005, ../sass/main.scss */
#sub-menu {
  background: none !important;
  box-shadow: none !important;
}
/* line 1008, ../sass/main.scss */
#sub-menu .container {
  -webkit-box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
}
/* line 1013, ../sass/main.scss */
#sub-menu .menu {
  background: #3B4F72;
  padding: 10px 20px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 5px solid white;
}
/* line 1020, ../sass/main.scss */
#sub-menu .menu a:hover {
  text-decoration: underline;
}
/* line 1023, ../sass/main.scss */
#sub-menu .menu a.not-linkable:hover {
  text-decoration: none;
}
/* line 1026, ../sass/main.scss */
#sub-menu .menu h1, #sub-menu .menu h2, #sub-menu .menu h3, #sub-menu .menu a, #sub-menu .menu span, #sub-menu .menu p {
  color: white;
}
/* line 1029, ../sass/main.scss */
#sub-menu .menu li:before {
  color: white;
}

/* line 1036, ../sass/main.scss */
.upper-header #block-sitebranding {
  display: none;
}

/* line 1041, ../sass/main.scss */
.block .wrapper,
.bar-menu .block {
  -webkit-box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.3);
}

/* line 1049, ../sass/main.scss */
#block-views-block-content-banners-block-2 .border {
  padding: 20px;
}
/* line 1052, ../sass/main.scss */
#block-views-block-content-banners-block-2 img {
  max-width: 100%;
}

/*# sourceMappingURL=main.css.map */
