@media (max-width: 1200px) {
  /* line 6, ../sass/responsive.scss */
  .header-container .container {
    padding: 0 20px;
  }

  /* line 9, ../sass/responsive.scss */
  .container {
    margin-right: 20px !important;
    margin-left: 20px !important;
  }
}
@media (max-width: 1000px) {
  /* line 18, ../sass/responsive.scss */
  .content-container .container .blue-circle {
    right: 0;
  }

  /* line 21, ../sass/responsive.scss */
  .content-container.page .container .text-block h1 {
    font-size: 22px;
  }

  /* line 24, ../sass/responsive.scss */
  .content-container .container .text-block .block h2 {
    font-size: 14px;
  }

  /* line 27, ../sass/responsive.scss */
  .content-container .container .text-block .content h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
  }
  /* line 31, ../sass/responsive.scss */
  .content-container .container .text-block .content h1.wave:before {
    top: -45px;
  }

  /* line 35, ../sass/responsive.scss */
  .content-container .container .bar-menu .block .views-row a {
    font-size: 12px;
    line-height: 14px;
  }

  /* line 39, ../sass/responsive.scss */
  .content-container .container .text-block .content p {
    margin: 20px 0 28px;
  }

  /* line 42, ../sass/responsive.scss */
  .content-container {
    padding-top: 40px;
  }

  /* line 45, ../sass/responsive.scss */
  .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 .border div img {
    margin-top: 20px;
  }

  /* line 48, ../sass/responsive.scss */
  .content-container .container .wrap {
    height: 210px;
  }
  /* line 53, ../sass/responsive.scss */
  .content-container .container .wrap .block.block-2 {
    height: 280px;
  }
  /* line 55, ../sass/responsive.scss */
  .content-container .container .wrap .block.block-2 .border div h2 {
    margin-top: 43px;
  }
  /* line 59, ../sass/responsive.scss */
  .content-container .container .wrap .block .border div h2 {
    font-size: 26px;
    line-height: 28px;
  }

  /* line 64, ../sass/responsive.scss */
  .content-container .container .text-block.home {
    padding-bottom: 30px !important;
  }
  /* line 66, ../sass/responsive.scss */
  .content-container .container .text-block.home p {
    font-size: 14px;
  }

  /* line 70, ../sass/responsive.scss */
  .footer.front {
    padding: 35px 0 0px !important;
  }

  /* line 73, ../sass/responsive.scss */
  .content-container .container .blue-circle h2 {
    font-size: 22px;
  }

  /* line 77, ../sass/responsive.scss */
  .header-container .container .menu,
  .header-container .container .social {
    display: none;
  }

  /* line 86, ../sass/responsive.scss */
  .menu-bar-container .container .column h2 {
    font-size: 13px;
  }

  /* line 89, ../sass/responsive.scss */
  .menu .column ul li a {
    font-size: 11px;
  }

  /* line 104, ../sass/responsive.scss */
  .content-container .container .wrap {
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (max-width: 950px) {
  /* line 125, ../sass/responsive.scss */
  .header-container .container div.menu ul li a, .header-container .container .mobile-bar.menu ul li a {
    font-size: 16px;
  }

  /* line 128, ../sass/responsive.scss */
  .header-container .container div.menu ul li a span, .header-container .container .mobile-bar.menu ul li a span {
    font-size: 11px;
  }

  /* line 131, ../sass/responsive.scss */
  .footer .container .column .col {
    width: 33% !important;
  }
}
@media (max-width: 880px) {
  /* line 143, ../sass/responsive.scss */
  .header-container .container {
    padding: 0 10px;
  }

  /* line 146, ../sass/responsive.scss */
  .header-container .container div.menu ul li a, .header-container .container .mobile-bar.menu ul li a {
    font-size: 16px;
  }

  /* line 149, ../sass/responsive.scss */
  .header-container .container div.menu ul li a span, .header-container .container .mobile-bar.menu ul li a span {
    font-size: 11px;
  }

  /* line 152, ../sass/responsive.scss */
  .content-container {
    padding-top: 20px;
  }

  /* line 155, ../sass/responsive.scss */
  .content-container .container .text-block .content h1 {
    font-size: 25px;
  }

  /* line 158, ../sass/responsive.scss */
  .content-container .container .text-block .content h1.wave:before {
    top: -37px;
  }

  /* line 161, ../sass/responsive.scss */
  .content-container .container .blue-circle {
    right: 10px;
  }

  /* line 164, ../sass/responsive.scss */
  .content-container .container .text-block .content p {
    margin: -16px 0 28px;
  }

  /* line 167, ../sass/responsive.scss */
  .content-container .container .wrap .block.block-2 {
    height: 220px;
  }

  /* line 170, ../sass/responsive.scss */
  .content-container .container .wrap .block.block-1 img,
  .content-container .container .wrap .block.block-2 img {
    height: 40px;
    width: auto;
  }

  /* line 175, ../sass/responsive.scss */
  .content-container .container .wrap .block.block-1 .background img,
  .content-container .container .wrap .block.block-2 .background img {
    height: 100%;
  }

  /* line 179, ../sass/responsive.scss */
  .content-container .container .wrap .block .border div h2 {
    font-size: 22px;
  }

  /* line 182, ../sass/responsive.scss */
  .content-container .container .wrap .block.block-1,
  .content-container .container .wrap .block.block-3 {
    top: -50px;
  }

  /* line 189, ../sass/responsive.scss */
  .content-container .container .wrap {
    height: 160px;
  }

  /* line 192, ../sass/responsive.scss */
  .content-container .container .text-block.home {
    width: 80%;
  }

  /* line 195, ../sass/responsive.scss */
  .content-container .container .wrap .block.block-1 .wrapper-text:after,
  .content-container .container .wrap .block.block-1 .wrapper-text:before {
    z-index: -1;
  }

  /* line 199, ../sass/responsive.scss */
  .content-container .container .text-block.home {
    padding-bottom: 10px !important;
  }

  /* line 202, ../sass/responsive.scss */
  .content-container .container .blue-circle {
    width: 160px;
    height: 160px;
  }

  /* line 206, ../sass/responsive.scss */
  .content-container .container .blue-circle h2 {
    margin-top: 72px;
  }

  /* line 209, ../sass/responsive.scss */
  #block-phone h2.wave:before {
    top: -37px;
  }

  /* line 212, ../sass/responsive.scss */
  .menu-bar-container .container .column h2 {
    font-size: 12px;
  }

  /* line 215, ../sass/responsive.scss */
  .menu .column ul li a {
    font-size: 10px;
    line-height: 12px;
  }

  /* line 219, ../sass/responsive.scss */
  .container {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }

  /* line 223, ../sass/responsive.scss */
  .menu-bar-container .container .column {
    padding: 0 5px;
    box-sizing: border-box;
  }

  /* line 227, ../sass/responsive.scss */
  .content-container.page {
    padding-top: 10px;
  }

  /* line 230, ../sass/responsive.scss */
  .content-container .container .bar-menu {
    padding-left: 10px;
  }

  /* line 233, ../sass/responsive.scss */
  .content-container .container .bar-menu .block {
    padding: 10px;
    margin-bottom: 10px;
  }

  /* line 237, ../sass/responsive.scss */
  .content-container .container .bar-menu .block .border {
    padding: 30px 10px 10px;
  }

  /* line 249, ../sass/responsive.scss */
  .content-container.page .container .text-block h1:before {
    top: -17px;
  }

  /* line 252, ../sass/responsive.scss */
  .content-container .text-block {
    background: white;
    padding: 15px;
  }

  /* line 256, ../sass/responsive.scss */
  .content-container.page .container .text-block h1 {
    line-height: 22px;
  }

  /* line 259, ../sass/responsive.scss */
  .content-container .container .text-block > div {
    padding-right: 5px;
  }

  /* line 262, ../sass/responsive.scss */
  .content-container .container .text-block {
    width: 65%;
  }

  /* line 265, ../sass/responsive.scss */
  .content-container .container .bar-menu {
    width: 35%;
  }

  /* line 268, ../sass/responsive.scss */
  .content-container {
    padding-bottom: 10px;
  }

  /* line 271, ../sass/responsive.scss */
  .content-container .container .text-block .block h2 {
    font-size: 13px;
    margin: 8px 0;
  }

  /* line 275, ../sass/responsive.scss */
  .content-container .container .text-block {
    font-size: 12px;
  }
}
@media (max-width: 680px) {
  /* line 283, ../sass/responsive.scss */
  .content-container .container #block-views-block-content-banners-block-1 .wrap {
    top: 0;
    margin: 15px 0;
    height: auto;
    text-align: left;
  }

  /* line 289, ../sass/responsive.scss */
  .content-container .container #block-views-block-content-banners-block-1 .wrap .block {
    width: auto;
    max-width: 400px;
    min-width: 280px;
  }

  /* line 294, ../sass/responsive.scss */
  .header-container .container div.menu ul li a span, .header-container .container .mobile-bar.menu ul li a span {
    display: none;
  }

  /* line 297, ../sass/responsive.scss */
  .footer .container .column {
    width: 100% !important;
  }

  /* line 300, ../sass/responsive.scss */
  .logo img {
    height: 75px !important;
  }

  /* line 303, ../sass/responsive.scss */
  .header-container .container {
    height: 70px;
  }

  /* line 306, ../sass/responsive.scss */
  .header-container .container div.menu, .header-container .container .mobile-bar.menu {
    height: 70px;
  }

  /* line 309, ../sass/responsive.scss */
  .header-container .container {
    padding: 0 2px;
  }

  /* line 312, ../sass/responsive.scss */
  .header-container .container div.menu ul li, .header-container .container .mobile-bar.menu ul li {
    display: table-cell;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    width: 25%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    height: 70px;
    float: none;
  }
  /* line 325, ../sass/responsive.scss */
  .header-container .container div.menu ul li a, .header-container .container .mobile-bar.menu ul li a {
    margin: 0;
    font-size: 12px;
    padding: 0px 0 5px 0;
  }

  /* line 331, ../sass/responsive.scss */
  .content-container .container .text-block .content {
    padding-right: 0;
  }

  /* line 334, ../sass/responsive.scss */
  .content-container .container .text-block .content h1 {
    font-size: 18px;
    line-height: 22px;
  }

  /* line 338, ../sass/responsive.scss */
  .content-container .container .text-block.home p {
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
  }

  /* line 343, ../sass/responsive.scss */
  .content-container .text-block h1, .content-container .text-block h2 {
    margin: 8px 0 10px;
  }

  /* line 346, ../sass/responsive.scss */
  .content-container .container .text-block .content h1.wave:before {
    top: -14px;
  }

  /* line 349, ../sass/responsive.scss */
  .content-container .container .text-block.home .content a {
    font-size: 14px;
    margin-top: 10px;
  }
  /* line 352, ../sass/responsive.scss */
  .content-container .container .text-block.home .content a:before {
    width: 15px;
    height: 15px;
    left: 0;
    bottom: 2px;
    background-size: contain;
  }

  /* line 360, ../sass/responsive.scss */
  #block-phone {
    display: none;
  }

  /* line 366, ../sass/responsive.scss */
  .upper-header {
    height: auto;
    background: white;
    border-bottom: 1px solid #dadada;
  }
  /* line 370, ../sass/responsive.scss */
  .upper-header #block-sitebranding {
    display: block;
    float: left;
  }
  /* line 373, ../sass/responsive.scss */
  .upper-header #block-sitebranding img {
    height: 30px;
    width: auto;
  }
  /* line 378, ../sass/responsive.scss */
  .upper-header #block-valoduparsledzejs {
    border-right: 0;
  }
  /* line 381, ../sass/responsive.scss */
  .upper-header:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  /* line 389, ../sass/responsive.scss */
  .upper-header .sitemap, .upper-header .social {
    display: none;
  }

  /* line 393, ../sass/responsive.scss */
  .upper-header, .upper-header a, .upper-header h1, .upper-header h2, .upper-header h3, .upper-header p, .upper-header span, .upper-header div {
    color: #3B4F72;
  }

  /* line 396, ../sass/responsive.scss */
  .content-container .container .text-block .content p {
    margin: 0px 0 14px;
  }

  /* line 399, ../sass/responsive.scss */
  .content-container .container .text-block .content a {
    padding-left: 22px;
  }

  /* line 402, ../sass/responsive.scss */
  .content-container .container .wrap {
    height: auto;
  }

  /* line 405, ../sass/responsive.scss */
  .content-container .container .wrap .block {
    width: 100%;
    padding: 0 !important;
    top: 0 !important;
    margin-bottom: 5px;
  }

  /* line 411, ../sass/responsive.scss */
  .content-container .container .wrap .block .border div h2 {
    font-size: 17px;
    line-height: 22px;
  }

  /* line 415, ../sass/responsive.scss */
  .content-container .container .wrap .block.horizontal .background, .content-container .container .wrap .block.block-2 .background {
    overflow: hidden;
  }

  /* line 418, ../sass/responsive.scss */
  .content-container .container .wrap .block.horizontal .background img, .content-container .container .wrap .block.block-2 .background img {
    width: 100%;
    height: auto;
  }

  /* line 422, ../sass/responsive.scss */
  .content-container .container .wrap .block.block-2 .border div h2 {
    margin-top: 41px;
  }

  /* line 425, ../sass/responsive.scss */
  .content-container .container .wrap .block .border > div h2.wave:before {
    top: 28px;
  }

  /* line 428, ../sass/responsive.scss */
  .content-container .container .wrap {
    margin-bottom: 8px;
  }

  /* line 434, ../sass/responsive.scss */
  .header-container .container div.menu ul {
    height: auto;
  }

  /* line 437, ../sass/responsive.scss */
  .header-container .container div.menu ul li:last-child, .header-container .container .mobile-bar.menu ul li:last-child {
    width: 25%;
  }

  /* line 440, ../sass/responsive.scss */
  .header-container .container div.menu ul li, .header-container .container .mobile-bar.menu ul li {
    display: block;
    float: left;
    height: auto;
  }

  /* line 445, ../sass/responsive.scss */
  .header-container .container div.menu ul li a:after, .header-container .container .mobile-bar.menu ul li a:after {
    display: none;
    content: none;
  }

  /* line 484, ../sass/responsive.scss */
  .header-container .container div.menu ul li.active:last-child, .header-container .container .mobile-bar.menu ul li.active:last-child {
    border-right: none;
  }

  /* line 489, ../sass/responsive.scss */
  #block-sitebranding .desktop {
    display: none;
  }
  /* line 492, ../sass/responsive.scss */
  #block-sitebranding .mobile {
    display: block;
  }

  /* line 496, ../sass/responsive.scss */
  .container {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }

  /* line 500, ../sass/responsive.scss */
  .menu-bar-container .container .column {
    width: 50%;
  }

  /* line 503, ../sass/responsive.scss */
  #sub-menu .menu {
    padding: 5px 0px 5px;
    font-size: 0;
  }

  /* line 507, ../sass/responsive.scss */
  #sub-menu .container {
    margin: 0 !important;
  }

  /* line 510, ../sass/responsive.scss */
  .menu .column ul li {
    padding-left: 6px;
  }

  /* line 513, ../sass/responsive.scss */
  .menu-bar-container .container .column h2 {
    margin-bottom: 5px;
  }

  /* line 516, ../sass/responsive.scss */
  .menu-bar-container .container .column h2 {
    font-size: 11px;
  }

  /* line 519, ../sass/responsive.scss */
  .menu-bar-container .container .column {
    float: none;
    display: inline-block;
    vertical-align: top;
  }

  /* line 524, ../sass/responsive.scss */
  .block.block-2 {
    display: none !important;
  }

  /* line 527, ../sass/responsive.scss */
  .menu-bar-container.visible.relative {
    display: none !important;
  }

  /* line 530, ../sass/responsive.scss */
  .content-container.page {
    padding-top: 2px;
  }

  /* line 533, ../sass/responsive.scss */
  .content-container .container .text-block,
  .content-container .container .bar-menu {
    width: 100%;
  }

  /* line 537, ../sass/responsive.scss */
  h1.wave:before {
    width: 45px;
  }

  /* line 540, ../sass/responsive.scss */
  .content-container .container .text-block > div {
    padding-right: 0;
  }

  /* line 543, ../sass/responsive.scss */
  .content-container .text-block {
    padding: 7px;
  }

  /* line 546, ../sass/responsive.scss */
  .content-container.page .container .text-block h1 {
    font-size: 14px;
  }

  /* line 549, ../sass/responsive.scss */
  .content-container.page {
    background: #C9D3E4;
    padding-bottom: 2px;
  }

  /* line 553, ../sass/responsive.scss */
  .container {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }

  /* line 557, ../sass/responsive.scss */
  .content-container .text-block ol {
    margin: 0;
    padding-left: 0px !important;
  }

  /* line 561, ../sass/responsive.scss */
  .content-container .container .bar-menu {
    padding-left: 0;
    margin-top: 2px;
  }

  /* line 565, ../sass/responsive.scss */
  .content-container .container .bar-menu .block {
    padding: 7px;
    margin-bottom: 2px;
  }

  /* line 569, ../sass/responsive.scss */
  .content-container .container .bar-menu .block .border {
    padding: 20px 0 0;
    border: 0 !important;
  }

  /* line 573, ../sass/responsive.scss */
  .content-container .container .bar-menu .block .border h2 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 2px;
  }

  /* line 578, ../sass/responsive.scss */
  .header-container .container div.menu ul li:first-child,
  .header-container .container .mobile-bar.menu ul li:first-child {
    border-left: 0 !important;
  }

  /* line 582, ../sass/responsive.scss */
  .content-container .container .text-block .block h2 {
    font-size: 12px;
  }

  /* line 585, ../sass/responsive.scss */
  .content-container .container .text-block table p {
    margin: 0 !important;
  }

  /* line 588, ../sass/responsive.scss */
  .content-container .text-block table th, .content-container .text-block table td {
    padding: 5px 5px;
    font-size: 12px;
  }

  /* line 592, ../sass/responsive.scss */
  .content-container .container .text-block.home {
    width: 100%;
  }

  /* line 595, ../sass/responsive.scss */
  .footer {
    padding: 40px 0 20px;
  }

  /* line 599, ../sass/responsive.scss */
  .header-container .container .mobile-bar {
    display: block;
    margin-top: 25px;
    float: right;
    margin-right: 30px;
  }

  /* line 608, ../sass/responsive.scss */
  .logo {
    padding-left: 10px;
  }

  /* line 611, ../sass/responsive.scss */
  .header-container .container div.menu, .header-container .container .mobile-bar.menu {
    height: auto;
    display: none;
  }

  /* line 615, ../sass/responsive.scss */
  .menu {
    display: block;
    position: absolute;
    top: 100%;
    background: white;
    width: 100%;
    left: 0;
    border-top: 1px solid #dadada;
    height: auto;
  }
  /* line 624, ../sass/responsive.scss */
  .menu > ul > li {
    border-bottom: 1px solid #dadada;
  }
  /* line 627, ../sass/responsive.scss */
  .menu .menu {
    display: block;
    position: relative;
    top: 100%;
    background: white;
    z-index: 100;
  }
  /* line 633, ../sass/responsive.scss */
  .menu .menu .column {
    display: block;
    width: 100%;
  }
  /* line 636, ../sass/responsive.scss */
  .menu .menu .column > h2 a {
    padding-bottom: 0 !important;
  }
  /* line 638, ../sass/responsive.scss */
  .menu .menu .column > h2 a:hover {
    color: #063D85 !important;
    text-decoration: none;
  }
  /* line 645, ../sass/responsive.scss */
  .menu .menu .column > ul > li a {
    font-weight: normal;
    padding: 10px 0 0px 0 !important;
  }

  /* line 654, ../sass/responsive.scss */
  .header-container .container div.menu ul li, .header-container .container .mobile-bar.menu ul li {
    width: 100% !important;
  }
  /* line 656, ../sass/responsive.scss */
  .header-container .container div.menu ul li .menu, .header-container .container .mobile-bar.menu ul li .menu {
    display: none;
  }
}
@media (max-width: 425px) {
  /* line 664, ../sass/responsive.scss */
  .content-container .container #block-views-block-content-banners-block-1 .wrap .block {
    width: 100%;
  }
}
@media (max-width: 350px) {
  /* line 670, ../sass/responsive.scss */
  .footer .container .column .col {
    width: 100% !important;
  }
}
/* line 677, ../sass/responsive.scss */
.ie9 img[src$=".svg"] {
  width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 682, ../sass/responsive.scss */
  img[src$=".svg"] {
    width: 100%;
  }
}

/*# sourceMappingURL=responsive.css.map */
