@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-sizing($param){
  -webkit-box-sizing: $param;
  -moz-box-sizing: $param;
  box-sizing: $param;
}

@mixin transition($param){
  -webkit-transition: $param;
  -moz-transition: $param;
  -ms-transition: $param;
  -o-transition: $param;
  transition: $param;
}
//@mixin placeholder-color($param){
//  ::-webkit-input-placeholder {color: $param;}
//  ::-moz-placeholder          {color: $param;}/* Firefox 19+ */
//  :-moz-placeholder           {color: $param;}/* Firefox 18- */
//  :-ms-input-placeholder      {color: $param;}
//}