
@import "mixins";
@import "breakpoint";

@include breakpoint(max-width 1200px){
  .header-container .container{
    padding: 0 20px;
  }
  .container{
    margin-right: 20px !important;
    margin-left: 20px !important;
  }
}

// 1000

@include breakpoint(max-width 1000px) {
  .content-container .container .blue-circle {
    right: 0;
  }
  .content-container.page .container .text-block h1 {
    font-size: 22px;
  }
  .content-container .container .text-block .block h2 {
    font-size: 14px;
  }
  .content-container .container .text-block .content h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    &.wave:before {
      top: -45px;
    }
  }
  .content-container .container .bar-menu .block .views-row a {
    font-size: 12px;
    line-height: 14px;
  }
  .content-container .container .text-block .content p {
    margin: 20px 0 28px;
  }
  .content-container {
    padding-top: 40px;
  }
  .content-container .container #block-views-block-content-banners-block-1 .wrap .block.block-2 .border div img {
    margin-top: 20px;
  }
  .content-container .container .wrap {
    height: 210px;
    //.block.block-1 {
    //  height: 170px;
    //}
    .block.block-2 {
      height: 280px;
      .border div h2 {
        margin-top: 43px;
      }
    }
    .block .border div h2 {
      font-size: 26px;
      line-height: 28px;
    }
  }
  .content-container .container .text-block.home {
    padding-bottom: 30px !important;
    p {
      font-size: 14px;
    }
  }
  .footer.front {
    padding: 35px 0 0px !important;
  }
  .content-container .container .blue-circle h2 {
    font-size: 22px;
  }
  .header-container .container{
    .menu,
    .social{
      display: none;
    }
    //.mobile-bar{
    //  display: table-cell;
    //  text-align: center;
    //}
  }
  .menu-bar-container .container .column h2 {
    font-size: 13px;
  }
  .menu .column ul li a {
    font-size: 11px;
  }
  .menu-bar-container .container{
    .column{
      //padding: 0 50px 55px;
      //width: 50%;
      //@include box-sizing(border-box);
      //@include breakpoint(max-width 600px){
      //  width: 100%;
      //  padding: 0 20px 55px;
      //}
    }
  }

  .content-container .container .wrap{
    //height: auto;
    text-align: center;
    //padding: 50px;
    @include box-sizing(border-box);
    //.block{
    //  float: left;
    //  position: relative;
    //  margin: 0 auto 20px;
    //  width: 45%;
    //  &.horizontal{
    //    bottom: auto;
    //    left: auto;
    //    float: right;
    //  }
    //}
  }

}

@include breakpoint(max-width 950px) {
  .header-container .container div.menu ul li a, .header-container .container .mobile-bar.menu ul li a {
    font-size: 16px;
  }
  .header-container .container div.menu ul li a span, .header-container .container .mobile-bar.menu ul li a span {
    font-size: 11px;
  }
  .footer .container .column .col {
    width: 33% !important;
  }
}

// 768

@include breakpoint(max-width 880px) {
  //.footer .container .column {
  //  width: 100% !important;
  //  margin-bottom: 10px;
  //}
  .header-container .container {
    padding: 0 10px;
  }
  .header-container .container div.menu ul li a, .header-container .container .mobile-bar.menu ul li a {
    font-size: 16px;
  }
  .header-container .container div.menu ul li a span, .header-container .container .mobile-bar.menu ul li a span {
    font-size: 11px;
  }
  .content-container {
    padding-top: 20px;
  }
  .content-container .container .text-block .content h1 {
    font-size: 25px;
  }
  .content-container .container .text-block .content h1.wave:before {
    top: -37px;
  }
  .content-container .container .blue-circle {
    right: 10px;
  }
  .content-container .container .text-block .content p {
    margin: -16px 0 28px;
  }
  .content-container .container .wrap .block.block-2 {
    height: 220px;
  }
  .content-container .container .wrap .block.block-1 img,
  .content-container .container .wrap .block.block-2 img {
    height: 40px;
    width: auto;
  }
  .content-container .container .wrap .block.block-1 .background img,
  .content-container .container .wrap .block.block-2 .background img {
    height: 100%;
  }
  .content-container .container .wrap .block .border div h2 {
    font-size: 22px;
  }
  .content-container .container .wrap .block.block-1,
  .content-container .container .wrap .block.block-3 {
    top: -50px;
  }
  //.content-container .container .wrap .block.block-1 {
  //  height: 130px;
  //}
  .content-container .container .wrap {
    height: 160px;
  }
  .content-container .container .text-block.home {
    width: 80%;
  }
  .content-container .container .wrap .block.block-1 .wrapper-text:after,
  .content-container .container .wrap .block.block-1 .wrapper-text:before {
    z-index: -1;
  }
  .content-container .container .text-block.home {
    padding-bottom: 10px !important;
  }
  .content-container .container .blue-circle {
    width: 160px;
    height: 160px;
  }
  .content-container .container .blue-circle h2 {
    margin-top: 72px;
  }
  #block-phone h2.wave:before {
    top: -37px;
  }
  .menu-bar-container .container .column h2 {
    font-size: 12px;
  }
  .menu .column ul li a {
    font-size: 10px;
    line-height: 12px;
  }
  .container {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .menu-bar-container .container .column {
    padding: 0 5px;
    box-sizing: border-box;
  }
  .content-container.page {
    padding-top: 10px;
  }
  .content-container .container .bar-menu {
    padding-left: 10px;
  }
  .content-container .container .bar-menu .block {
    padding: 10px;
    margin-bottom: 10px;
  }
  .content-container .container .bar-menu .block .border {
    padding: 30px 10px 10px;
  }
  //h1.wave:before {
  //  display: block;
  //  content: "";
  //  background: url("../img/wave-blue-long.png") no-repeat;
  //  width: 55px;
  //  height: 10px;
  //  position: absolute;
  //  background-size: contain;
  //}
  .content-container.page .container .text-block h1:before {
    top: -17px;
  }
  .content-container .text-block {
    background: white;
    padding: 15px;
  }
  .content-container.page .container .text-block h1 {
    line-height: 22px;
  }
  .content-container .container .text-block > div {
    padding-right: 5px;
  }
  .content-container .container .text-block {
    width: 65%;
  }
  .content-container .container .bar-menu {
    width: 35%;
  }
  .content-container {
    padding-bottom: 10px;
  }
  .content-container .container .text-block .block h2 {
    font-size: 13px;
    margin: 8px 0;
  }
  .content-container .container .text-block {
    font-size: 12px;
  }
}

// 425

@include breakpoint(min-width 680px) {
  .mobile-menu {
    display: none !important;
  }
}
@include breakpoint(max-width 679px) {
  #block-mainnavigation .menu {
    display: none !important;
  }
}

@include breakpoint(max-width 680px) {
  .content-container .container #block-views-block-content-banners-block-1 .wrap {
    top: 0;
    margin: 15px 0;
    height: auto;
    text-align: left;
  }
  .content-container .container #block-views-block-content-banners-block-1 .wrap .block {
    width: auto;
    max-width: 400px;
    min-width: 280px;
  }
  .header-container .container div.menu ul li a span, .header-container .container .mobile-bar.menu ul li a span {
    display: none;
  }
  .footer .container .column {
    width: 100% !important;
  }
  .logo img {
    height: 75px !important;
  }
  .header-container .container {
    height: 70px;
  }
  .header-container .container div.menu, .header-container .container .mobile-bar.menu {
    height: 70px;
  }
  .header-container .container {
    padding: 0 2px;
  }
  .header-container .container div.menu ul li, .header-container .container .mobile-bar.menu ul li {
    display: table-cell;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    width: 25%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    height: 70px;
    float: none;
    a {
      margin: 0;
      font-size: 12px;
      padding: 0px 0 5px 0;
    }
  }
  .content-container .container .text-block .content {
    padding-right: 0;
  }
  .content-container .container .text-block .content h1 {
    font-size: 18px;
    line-height: 22px;
  }
  .content-container .container .text-block.home p {
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
  }
  .content-container .text-block h1, .content-container .text-block h2 {
    margin: 8px 0 10px;
  }
  .content-container .container .text-block .content h1.wave:before {
    top: -14px;
  }
  .content-container .container .text-block.home .content a {
    font-size: 14px;
    margin-top: 10px;
    &:before {
      width: 15px;
      height: 15px;
      left: 0;
      bottom: 2px;
      background-size: contain;
    }
  }
  #block-phone {
    display: none;
  }
  //.header-container .container div.logo, .header-container .container .mobile-bar.logo {
  //  display: none;
  //}
  .upper-header {
    height: auto;
    background: white;
    border-bottom: 1px solid #dadada;
    #block-sitebranding {
      display: block;
      float: left;
      img {
        height: 30px;
        width: auto;
      }
    }
    #block-valoduparsledzejs {
      border-right: 0;
    }
    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }
    .sitemap, .social {
      display: none;
    }
  }
  .upper-header, .upper-header a, .upper-header h1, .upper-header h2, .upper-header h3, .upper-header p, .upper-header span, .upper-header div {
    color: #3B4F72;
  }
  .content-container .container .text-block .content p {
    margin: 0px 0 14px;
  }
  .content-container .container .text-block .content a {
    padding-left: 22px;
  }
  .content-container .container .wrap {
    height: auto;
  }
  .content-container .container .wrap .block {
    width: 100%;
    padding: 0 !important;
    top: 0 !important;
    margin-bottom: 5px;
  }
  .content-container .container .wrap .block .border div h2 {
    font-size: 17px;
    line-height: 22px;
  }
  .content-container .container .wrap .block.horizontal .background, .content-container .container .wrap .block.block-2 .background {
    overflow: hidden;
  }
  .content-container .container .wrap .block.horizontal .background img, .content-container .container .wrap .block.block-2 .background img {
    width: 100%;
    height: auto;
  }
  .content-container .container .wrap .block.block-2 .border div h2 {
    margin-top: 41px;
  }
  .content-container .container .wrap .block .border > div h2.wave:before {
    top: 28px;
  }
  .content-container .container .wrap {
    margin-bottom: 8px;
  }
  //.header-container .container div.menu ul li.active a, .header-container .container .mobile-bar.menu ul li.active a {
  //  margin: 30px 0 0;
  //}
  .header-container .container div.menu ul {
    height: auto;
  }
  .header-container .container div.menu ul li:last-child, .header-container .container .mobile-bar.menu ul li:last-child {
    width: 25%;
  }
  .header-container .container div.menu ul li, .header-container .container .mobile-bar.menu ul li {
    display: block;
    float: left;
    height: auto;
  }
  .header-container .container div.menu ul li a:after, .header-container .container .mobile-bar.menu ul li a:after {
    display: none;
    content: none;
  }
  //.header-container .container div.menu ul:after {
  //  visibility: hidden;
  //  display: block;
  //  font-size: 0;
  //  content: " ";
  //  clear: both;
  //  height: 0;
  //}
  //.header-container .container .mobile-bar.menu ul,
  //.header-container .container div.menu ul {
  //  li:nth-child(1) a:before {
  //    background: url('../img/menu-sailor.png') no-repeat;
  //    background-size: contain;
  //  }
  //  li:nth-child(2) a:before {
  //    background: url('../img/menu-vessel.png') no-repeat;
  //    background-size: contain;
  //  }
  //  li:nth-child(3) a:before {
  //    background: url('../img/menu-icon.png') no-repeat;
  //    background-size: contain;
  //  }
  //  li:nth-child(4) a:before {
  //    background: url('../img/menu-map.png') no-repeat;
  //    background-size: contain;
  //  }
  //}
  //.header-container .container div.menu ul li a:before, .header-container .container .mobile-bar.menu ul li a:before {
  //  display: block;
  //  content: '' !important;
  //  height: 30px;
  //  width: 35px;
  //  top: -30px;
  //  margin-left: -20px;
  //}
  .header-container .container div.menu ul li.active:last-child, .header-container .container .mobile-bar.menu ul li.active:last-child {
    border-right: none;
  }
  #block-sitebranding
  {
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
  .container {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  .menu-bar-container .container .column {
    width: 50%;
  }
  #sub-menu .menu {
    padding: 5px 0px 5px;
    font-size: 0;
  }
  #sub-menu .container {
    margin: 0 !important;
  }
  .menu .column ul li {
    padding-left: 6px;
  }
  .menu-bar-container .container .column h2 {
    margin-bottom: 5px;
  }
  .menu-bar-container .container .column h2 {
    font-size: 11px;
  }
  .menu-bar-container .container .column {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .block.block-2 {
    display: none !important;
  }
  .menu-bar-container.visible.relative {
    display: none !important;
  }
  .content-container.page {
    padding-top: 2px;
  }
  .content-container .container .text-block,
  .content-container .container .bar-menu {
    width: 100%;
  }
  h1.wave:before {
    width: 45px;
  }
  .content-container .container .text-block > div {
    padding-right: 0;
  }
  .content-container .text-block {
    padding: 7px;
  }
  .content-container.page .container .text-block h1 {
    font-size: 14px;
  }
  .content-container.page {
    background: #C9D3E4;
    padding-bottom: 2px;
  }
  .container {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  .content-container .text-block ol {
    margin: 0;
    padding-left: 0px !important;
  }
  .content-container .container .bar-menu {
    padding-left: 0;
    margin-top: 2px;
  }
  .content-container .container .bar-menu .block {
    padding: 7px;
    margin-bottom: 2px;
  }
  .content-container .container .bar-menu .block .border {
    padding: 20px 0 0;
    border: 0 !important;
  }
  .content-container .container .bar-menu .block .border h2 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 2px;
  }
  .header-container .container div.menu ul li:first-child,
  .header-container .container .mobile-bar.menu ul li:first-child {
    border-left: 0 !important;
  }
  .content-container .container .text-block .block h2 {
    font-size: 12px;
  }
  .content-container .container .text-block table p {
    margin: 0 !important;
  }
  .content-container .text-block table th, .content-container .text-block table td {
    padding: 5px 5px;
    font-size: 12px;
  }
  .content-container .container .text-block.home {
    width: 100%;
  }
  .footer {
    padding: 40px 0 20px;
  }
  // Menu hamburger
  .header-container .container .mobile-bar {
    display: block;
    margin-top: 25px;
    float: right;
    margin-right: 30px;
  }
  .header-container .container div.menu, .header-container .container .mobile-bar.menu {
    //display: none;
  }
  .logo {
    padding-left: 10px;
  }
  .header-container .container div.menu, .header-container .container .mobile-bar.menu {
    height: auto;
    display: none;
  }
  .menu {
    display: block;
    position: absolute;
    top: 100%;
    background: white;
    width: 100%;
    left: 0;
    border-top: 1px solid #dadada;
    height: auto;
    > ul > li {
      border-bottom: 1px solid #dadada;
      > a {
        padding: 16px !important;
        text-align: left;
        padding-left: 55px !important;
        svg {
          position: absolute;
          top: 2px;
          left: 10px;
          width: 30px;
          height: 30px;
        }
        .description {
          display: block !important;
          margin-top: 2px;
        }
      }
    }
    .menu {
      display: block;
      position: relative;
      top: 100%;
      background: white;
      z-index: 100;
      .column {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        > h2 a {
          padding-bottom: 0 !important;
          &:hover {
            color: #063D85 !important;
            text-decoration: none;
          }
        }
        > ul {
          > li {
            a {
              font-weight: normal;
              padding: 6px 0 0px 0 !important;
            }
          }
        }
      }
    }
  }
  .header-container .container div.menu ul li, .header-container .container .mobile-bar.menu ul li {
    width: 100% !important;
    .menu {
      display: none;
    }
  }
  .mobile-menu {
    padding: 10px 0;
    text-align: left !important;
    padding-left: 10px;
    a.active {
      color: #063D85;
    }
  }
  .upper-header {
    display: none;
  }
}

@include breakpoint(max-width 425px) {
  .content-container .container #block-views-block-content-banners-block-1 .wrap .block {
    width: 100%;
  }
}

@include breakpoint(max-width 350px) {
  .footer .container .column .col {
    width: 100% !important;
  }
}

// SVG IE fix

.ie9 img[src$=".svg"] {
  width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%;
  }
}