
@import "mixins";
@import "breakpoint";

@include breakpoint(max-width 1200px){
  .header-container .container{
    padding: 0 20px;
  }
  .container{
    margin-right: 20px !important;
    margin-left: 20px !important;
  }
}

// 1000

@include breakpoint(max-width 1000px) {
  .content-container.page .container .text-block h1 {
    font-size: 22px;
  }
  .content-container .container .text-block .block h2 {
    font-size: 14px;
  }
  .content-container .container .text-block .content h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    &.wave:before {
      top: -45px;
    }
  }
  .content-container .container .bar-menu .block .views-row a {
    font-size: 12px;
    line-height: 14px;
  }
  .content-container .container .text-block .content p {
    margin: 20px 0 28px;
  }
  .content-container {
    padding-top: 40px;
  }
  .content-container .container .wrap {
    height: 210px;
    .block.block-1 {
      height: 170px;
    }
    .block.block-2 {
      height: 280px;
      .border div h2 {
        margin-top: 43px;
      }
      .border div img {
        margin-top: 39px;
      }
    }
    .block .border div h2 {
      font-size: 26px;
      line-height: 28px;
    }
  }
  .content-container .container .text-block.home {
    padding-bottom: 30px !important;
    p {
      font-size: 14px;
    }
  }
  .footer.front {
    padding: 80px 0 0px !important;
  }
  .content-container .container .blue-circle h2 {
    font-size: 22px;
  }
  .header-container .container{
    .menu,
    .social{
      display: none;
    }
    //.mobile-bar{
    //  display: table-cell;
    //  text-align: center;
    //}
  }
  .menu-bar-container .container .column h2 {
    font-size: 13px;
  }
  .menu .column ul li a {
    font-size: 11px;
  }
  .menu-bar-container .container{
    .column{
      //padding: 0 50px 55px;
      //width: 50%;
      //@include box-sizing(border-box);
      //@include breakpoint(max-width 600px){
      //  width: 100%;
      //  padding: 0 20px 55px;
      //}
    }
  }

  .content-container .container .wrap{
    //height: auto;
    text-align: center;
    //padding: 50px;
    @include box-sizing(border-box);
    //.block{
    //  float: left;
    //  position: relative;
    //  margin: 0 auto 20px;
    //  width: 45%;
    //  &.horizontal{
    //    bottom: auto;
    //    left: auto;
    //    float: right;
    //  }
    //}
  }

  .footer .container{
    .column{
      width: 50% !important;
      min-height: 170px;
      padding-bottom: 15px;
      @include breakpoint(max-width 700px){
        width: 100% !important;
        text-align: center;
        min-height: auto;
        .col{
          width: 100%;
        }
      }
    }
  }
}

// 768

@include breakpoint(max-width 768px) {
  .header-container .container {
    padding: 0 10px;
  }
  .header-container .container div.menu ul li a, .header-container .container .mobile-bar.menu ul li a {
    font-size: 16px;
  }
  .header-container .container div.menu ul li a span, .header-container .container .mobile-bar.menu ul li a span {
    font-size: 11px;
  }
  .content-container {
    padding-top: 20px;
  }
  .content-container .container .text-block .content h1 {
    font-size: 25px;
  }
  .content-container .container .text-block .content h1.wave:before {
    top: -37px;
  }
  .content-container .container .blue-circle {
    right: 10px;
  }
  .content-container .container .text-block .content p {
    margin: -16px 0 28px;
  }
  .content-container .container .wrap .block.block-2 {
    height: 220px;
  }
  .content-container .container .wrap .block.block-1 img,
  .content-container .container .wrap .block.block-2 img {
    height: 30px;
    width: auto;
  }
  .content-container .container .wrap .block .border div h2 {
    font-size: 22px;
  }
  .content-container .container .wrap .block.block-1,
  .content-container .container .wrap .block.block-3 {
    top: -50px;
  }
  .content-container .container .wrap .block.block-1 {
    height: 130px;
  }
  .content-container .container .wrap {
    height: 160px;
  }
  .content-container .container .text-block.home {
    width: 80%;
  }
  .content-container .container .wrap .block.block-1 .wrapper-text:after,
  .content-container .container .wrap .block.block-1 .wrapper-text:before {
    z-index: -1;
  }
  .content-container .container .text-block.home {
    padding-bottom: 10px !important;
  }
  .content-container .container .blue-circle {
    width: 160px;
    height: 160px;
  }
  .content-container .container .blue-circle h2 {
    margin-top: 72px;
  }
  #block-phone h2.wave:before {
    top: -37px;
  }
  .menu-bar-container .container .column h2 {
    font-size: 12px;
  }
  .menu .column ul li a {
    font-size: 10px;
    line-height: 12px;
  }
  .container {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .menu-bar-container .container .column {
    padding: 0 5px;
    box-sizing: border-box;
  }
  .content-container.page {
    padding-top: 10px;
  }
  .content-container .container .bar-menu {
    padding-left: 10px;
  }
  .content-container .container .bar-menu .block {
    padding: 10px;
    margin-bottom: 10px;
  }
  .content-container .container .bar-menu .block .border {
    padding: 30px 10px 10px;
  }
  h1.wave:before {
    display: block;
    content: "";
    background: url("../img/wave-blue-long.png") no-repeat;
    width: 55px;
    height: 10px;
    position: absolute;
    background-size: contain;
  }
  .content-container.page .container .text-block h1:before {
    top: -17px;
  }
  .content-container .text-block {
    background: white;
    padding: 15px;
  }
  .content-container.page .container .text-block h1 {
    line-height: 22px;
  }
  .content-container .container .text-block > div {
    padding-right: 5px;
  }
  .content-container .container .text-block {
    width: 65%;
  }
  .content-container .container .bar-menu {
    width: 35%;
  }
  .content-container {
    padding-bottom: 10px;
  }
  .content-container .container .text-block .block h2 {
    font-size: 13px;
    margin: 8px 0;
  }
  .content-container .container .text-block {
    font-size: 12px;
  }
}

// 425

@include breakpoint(max-width 425px) {
  .header-container .container div.menu ul li a span, .header-container .container .mobile-bar.menu ul li a span {
    display: none;
  }
  .logo img {
    height: 45px;
  }
  .header-container .container {
    height: 70px;
  }
  .header-container .container div.menu, .header-container .container .mobile-bar.menu {
    height: 70px;
  }
  .header-container .container {
    padding: 0 2px;
  }
  .header-container .container div.menu ul li, .header-container .container .mobile-bar.menu ul li {
    display: table-cell;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    width: 25%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    height: 70px;
    float: none;
    a {
      margin: 0;
      font-size: 12px;
    }
  }
  .content-container .container .text-block .content {
    padding-right: 0;
  }
  .content-container .container .text-block .content h1 {
    font-size: 18px;
    line-height: 30px;
  }
  .content-container .container .text-block.home p {
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
  }
  .content-container .text-block h1, .content-container .text-block h2 {
    margin: 0px 0 10px;
  }
  .content-container .container .text-block .content h1.wave:before {
    top: -6px;
  }
  .content-container .container .text-block.home .content a {
    font-size: 14px;
    margin-top: 10px;
    &:before {
      width: 15px;
      height: 15px;
      left: 0;
      bottom: 2px;
      background-size: contain;
    }
  }
  #block-phone {
    display: none;
  }
}
