<div class="header-container home">
    <div class="container">
        {{ page.header }}
        {# todo: export to block? #}
        <div class="social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</div>

<div class="menu-bar-container">
    <div class="container">
        {{ page.menu }}
    </div>
</div>

<div class="content-container">
    <div class="container">
        {{ page.content }}
    </div>
</div>

<div class="footer">
    <div class="container">
        {{ page.footer }}
    </div>
</div>