{%
  set classes = [
  'wrap',
  'views-view-grid',
  'clearfix',
  ]
%}
<div{{ attributes.addClass(classes) }}>
    {% for row in items %}
        {% for column in row.content %}
          <div class="block block-{{ loop.index }}">
            {{ column.content }}
          </div>
        {% endfor %}
    {% endfor %}
</div>
